<p class="govuk-body">Nominate someone who:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>is planning the response to local coronavirus restrictions</li>
  <li>understands what devices are needed and who will get them</li>
  <li>can configure devices or give technical information</li>
</ul>

<%= f.govuk_text_field :full_name,
    label: { text: 'Name' } %>

<%= f.govuk_email_field :email_address,
    label: { text: 'Email address' },
    hint_text: 'They will use this email address to sign in' %>

<%= f.govuk_text_field :phone_number,
    label: { text: 'Telephone number' },
    width: 10 %>
