<%- title = t('page_titles.school.internet.home.show.title') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: @current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Request extra data for mobile devices', extra_data_guidance_internet_mobile_school_path(@school) %>
    </h2>

    <p class="govuk-body">We’re working with mobile companies to temporarily increase data allowances on certain networks. This is so children can continue their remote education without incurring extra data charges.</p>

    <p class="govuk-body">If they do not have their own phone, we can increase data on a family member’s phone, as long as they’re in the same household.</p>

    <p class="govuk-body">If they do not have access to a mobile device, or are not on a participating network a 4G wireless router might be more suitable.</p>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Request 4G wireless routers', how_to_request_4g_wireless_routers_path %>
   </h2>

    <p class="govuk-body">If your school is facing disruption to education and you’ve been invited to order devices, you can request 4G wireless routers.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-related">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Guidance</h2>
      <p class="govuk-body">
        <%= govuk_link_to 'Choosing help with internet access', choosing_help_with_internet_access_path %>
      </p>
    </div>
  </div>
</div>
