<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">
  We’re expanding the support available through the Get help with technology programme.
</p>

<p class="govuk-body">
  We’ve increased your allocation of devices to help provide laptops and tablets for learners who are:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>aged 16 to 19 and get free meals in further education</li>
  <li>over the age of 19, get free meals, and have an education, health and care plan (EHCP)</li>
</ul>
