<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">
  We’re expanding the support available through the Get help with technology programme.
</p>

<p class="govuk-body">
  We’ve increased your allocation of devices so you can now order laptops and tablets for disadvantaged students in years 12 and 13.
</p>
