<h1 class="govuk-heading-xl">
  Get laptops and internet access for <span class="app-no-wrap">state-funded</span> pupils at independent settings
</h1>
<p class="govuk-body">
  Laptops are available for state-funded pupils that <%= @current_user.school.responsible_body.name %> funds to attend independent special schools or independent alternative provision.
</p>
<p class="govuk-body">
  Use this service to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    check you’ve been allocated the correct number of laptops
  </li>
  <li>
    place orders for laptops
  </li>
  <li>
    request internet access for eligible pupils
  </li>
</ul>
