<h1 class="govuk-heading-xl">
  Laptops and internet access for <span class="app-no-wrap">state-funded</span> pupils in independent settings
</h1>

<p class="govuk-body">
  You can now order laptops for disadvantaged pupils funded by <%= @current_user.responsible_body.name %>, who:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have a place at an independent special school, or through independent alternative provision</li>
  <li>are eligible for free school meals</li>
  <li>do not have access to a suitable device for remote education or catch-up learning</li>
</ul>

<p class="govuk-body">
  You can also request internet access for these pupils.
</p>

<p class="govuk-body">
  We’ve contacted the relevant team at <%= @current_user.responsible_body.name %> to let them know how to place orders.
</p>
