<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">You can use the ‘Get help with technology’ service to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>download BIOS/admin details for your devices</li>
  <li>access TechSource to view your orders and device serial numbers</li>
  <li>manage your schools and users.</li>
</ul>
