<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">Ordering is closed for laptops, tablets and <span class="app-no-wrap">extra mobile data</span>.</p>


<p class="govuk-body">You can use the service to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>manage who can use this service and access the <span class="app-no-wrap">Support Portal</span></li>
  <li>see what you ordered</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-6"><span class="app-no-wrap">4G wireless routers</span> are available to order until <span class="app-no-wrap">31 July</span>.</p>
