<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">Ordering is now closed for devices and internet access.</p>

<p class="govuk-body">You can use the service to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>manage who can use this service and access the <span class="app-no-wrap">Support Portal</span></li>
  <li>see what you ordered</li>
</ul>
