<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<p class="govuk-body">You can use the ‘Get help with technology’ service to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>check how many devices you can order</li>
  <li>access the TechSource website to place orders</li>
  <li>give us technical details for Chromebooks if you’ll be ordering them</li>
  <li>manage who can order devices.</li>
</ul>
