<h1 class="govuk-heading-xl">
  You&rsquo;re signed in to Get help with technology
</h1>

<p class="govuk-body">
  Windows laptops and tablets, Chromebooks and Apple
  iPads are available for care leavers aged 16&ndash;25 who
  <%= @current_user.effective_responsible_body.name %>
  is responsible for.
</p>

<p class="govuk-body">
  Use this service to:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check your device allocation</li>
  <li>place orders</li>
  <li>give us technical details for Chromebooks if you&rsquo;ll be ordering them.</li>
</ul>
