<%- who_orders = impersonated_or_current_user.orders_devices? ? 'user' : 'school' %>
<%- title = t("page_titles.school.devices.cannot_order_as_cap_reached.#{who_orders}.title") %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: 'Order devices', school: @school, user: impersonated_or_current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      <%= title %>
    </h1>

    <%= render DeviceCountComponent.new(school: @school) %>

    <p class="govuk-body">We’ll contact you if your allocation increases.</p>

    <% if impersonated_or_current_user.orders_devices? && impersonated_or_current_user.techsource_account_confirmed? %>
      <p class="govuk-body"><%= govuk_link_to 'View your order history on TechSource', techsource_start_path %></p>
    <% end %>
  </div>
</div>
