<%- title = t('page_titles.school_changed_allocation') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: @user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <p class="govuk-body">We’ve changed how we allocate laptops and tablets. This is to get them to those in greatest need as effectively as we can.</p>

    <p class="govuk-body">We know most schools have small groups of children self-isolating at any one time. We believe the revised allocations should provide enough devices to support these groups.</p>

    <h2 class="govuk-heading-m">You should decide how to distribute devices</h2>

    <p class="govuk-body">It’s up to you to decide who gets devices. Once children who had been self-isolating return to school, you may choose to reallocate devices so as many pupils as possible can benefit from them.</p>

    <h2 class="govuk-heading-m">If your school closes fully</h2>

    <p class="govuk-body">If your school closes fully, we’ll email you to explain what your options are, including how to request more devices.</p>

    <h2 class="govuk-heading-m">If you think you need more devices</h2>

    <p class="govuk-body">If you’re facing extremely challenging circumstances, you can request more devices by emailing <%= ghwt_contact_mailto(subject: 'More devices request') %>.</p>
  </div>
</div>
