<%- title = t('page_titles.school_reduced_to_zero_allocation') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: 'Delays in our supply chain', school: @school, user: @user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= title %>
    </h1>

    <p class="govuk-body">Due to delays in our supply chain, only schools with children in years 10 and 11 will be able to order their allocation of laptops and tablets.</p>

    <p class="govuk-body">We made this difficult decision so we can target support at disadvantaged children in key exam years (10 and 11).</p>

    <p class="govuk-body">You can still <%= govuk_link_to 'request devices for specific circumstances', request_devices_school_path(@school) %>.</p>

    <h2 class="govuk-heading-m">We’re working hard to increase stock levels</h2>

    <p class="govuk-body">We’re working hard with suppliers to increase stock levels as quickly as we can, and we hope to restore your original allocation. We’ll let you know when things change.</p>

    <p class="govuk-body">We understand this news is disappointing, and we’re sorry.</p>
  </div>
</div>
