<ul class="govuk-list govuk-list--bullet">
  <li>The recipient will get unlimited data per month until 31 July 2021.</li>
  <li>The offer is only available to Pay Monthly customers.</li>
  <li>The recipient must have been a BT Mobile customer for at least 3 months.</li>
  <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
  <li>BT Mobile will aim to process the request within 14 days.</li>
</ul>
