<% brand = 'giffgaff' %>

<ul class="govuk-list govuk-list--bullet">
  <li>The recipient will get 100GB of additional data, subject to giffgaff's <a href="https://www.giffgaff.com/terms/promotions#department_for_education_feb21">terms</a> and <a href="https://www.giffgaff.com/terms">fair use policy</a>.</li>
  <li>The offer is available to any eligible member with an active giffgaff goodybag.</li>
  <li>The offer cannot be applied to accounts that are using credit only.</li>
  <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
  <li>giffgaff will aim to process the request within 14 days.</li>
  <% if MobileNetwork.excluded_fe_networks.where(brand: brand).exists? %>
    <li><%= brand %> will not accept requests for students over the age of 16.</li>
  <% end %>
</ul>
