<% brand = 'O2' %>

<ul class="govuk-list govuk-list--bullet">
  <li>The recipient will get 40GB of additional data per month until 31 July 2021.</li>
  <li>The offer is available to both Pay Monthly and active Pay As You Go customers.</li>
  <li>The recipient must have been an O2 customer for at least 6 months.</li>
  <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
  <% if MobileNetwork.excluded_fe_networks.where(brand: brand).exists? %>
    <li><%= brand %> will not accept requests for students over the age of 16.</li>
  <% end %>
  <li>O2 will aim to process the request within 1 month.</li>
</ul>
