<ul class="govuk-list govuk-list--bullet">
  <li>The recipient will get 100GB of additional data.</li>
  <li>The offer is available to Pay Monthly customers.</li>
  <li>Sky Mobile customers will be able to see the data uplift in their piggybank.</li>
  <li>Sky Mobile will aim to process the request within 14 days.</li>
</ul>
