<ul class="govuk-list govuk-list--bullet">
  <li>Requests must be made before 4pm on 30 June 2021.</li>
  <li>The recipient will get 20GB of additional data per month until 31 July 2021.</li>
  <li>The offer is only available to Pay Monthly customers. It’s not available to Pay-as-you-go customers.</li>
  <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
  <li>Virgin Mobile will aim to process the request within 14 days.</li>
  <li>Wi-Fi hotspots are open to all existing customers, including those on Pay-as-you-go. Customers on Pay-as-you-go will need to have a minimum of £5 credit. Instructions to download the app and find their nearest hotspot can be found by going to <%= govuk_link_to 'www.virginmedia.com/wifiapp', 'https://www.virginmedia.com/shop/virgin-media-connect-app-mobile' %>.</li>
</ul>
