<ul class="govuk-list govuk-list--bullet">
  <li>The recipient will get unlimited data until 31 July 2021.</li>
  <li>The offer is available to both Pay monthly and active Pay as you go customers. Pay as you go customers must have a Big Value Bundle worth £10 or above to be eligible.</li>
  <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
  <li>Vodafone will aim to process the request within 14 days.</li>
</ul>
