<ul class="govuk-list govuk-list--bullet">
  <li>are <%= govuk_link_to 'clinically extremely vulnerable', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19', target: '_blank', rel: 'noopener noreferrer' %> and need to shield on current official advice (this could be from a doctor or hospital consultant)</li>
  <li>live in a household that’s been advised to shield because a family member is clinically extremely vulnerable</li>
  <li>cannot take part in face-to-face education – even though their school or college is open – because restrictions prevent it</li>
</ul>
