<ul class="govuk-list govuk-list--bullet">
  <li>are one of a small group of <%= govuk_link_to 'clinically extremely vulnerable', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19', target: '_blank', rel: 'noopener noreferrer' %> pupils under paediatric or NHS care who have been advised by their GP or clinician not to attend school</li>
  <li>live in a household that's been advised to <%= govuk_link_to 'shield', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19', target: '_blank', rel: 'noopener noreferrer' %> on current official advice from the government, their GP or clinician because someone living there is clinically extremely vulnerable</li>
</ul>
