<% if @user.is_school_user? %>
  <%- title = t('page_titles.school_request_devices') %>
  <%- content_for :before_content do %>
    <% breadcrumbs([{ "Home" => home_school_path }, title ]) %>
  <% end %>

<% elsif @user.is_responsible_body_user? %>

  <%- title = t('page_titles.responsible_body_devices_request_devices') %>
  <%- content_for :before_content do %>
    <% breadcrumbs([
                     { "Home" => responsible_body_home_path },
                     { t('page_titles.responsible_body_devices_home') => responsible_body_devices_path},
                     title ,
                   ]) %>
  <% end %>

<% end %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= render partial: 'shared/devices/who_to_request_for' %>

    <h2 class="govuk-heading-m">What to put in your request</h2>

    <p class="govuk-body">Tell us:</p>

    <% if @user.is_school_user? %>
      <ul class="govuk-list govuk-list--bullet">
        <li>how many devices you will need</li>
        <li>the year groups of the children who need devices</li>
        <li>why you need them</li>
      </ul>
    <% elsif @user.is_responsible_body_user? %>
      <ul class="govuk-list govuk-list--bullet">
        <li>which schools need the devices</li>
        <li>how many devices they need</li>
        <li>the year groups of the children who need devices</li>
        <li>why they need the devices</li>
      </ul>
    <% end %>

    <p class="govuk-body">If shielding is not recommended in your area (see the <%= govuk_link_to 'guidance on local restrictions', 'https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19' %>), you’ll need to show evidence that children have received official advice to continue shielding outside of national guidelines.</p>

    <h2 class="govuk-heading-m">Where to send your request</h2>

    <p class="govuk-body">
      Send your request in an email to:
      <br>
      <%= ghwt_contact_mailto(subject: title) %>
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We’ll email you back with instructions about what to do next.</p>
  </div>
</div>
