<%- title = t('page_titles.support.feature_flags') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { 'Support home' => support_home_path },
                  title,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Feature</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% FeatureFlag::FEATURES.sort.each do |feature| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><%= feature %></th>
            <% if FeatureFlag.active?(feature) %>
              <td class="govuk-table__cell"><%= govuk_tag(text: 'Active', colour: 'green') %></td>
            <% else %>
              <td class="govuk-table__cell"><%= govuk_tag(text: 'Not active', colour: 'red') %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
