<%- title = t('page_titles.support.schools.home') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { 'Support home' => support_home_path },
                  title,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Find organisations', search_support_schools_path %>
    </h2>

    <p class="govuk-body">Use this section to find one or more school, college or FE institution by URN or UKPRN.</p>

    <% if policy(School).edit? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Bulk upload allocation updates', devices_enable_orders_for_many_schools_support_schools_path %>
      </h2>

      <p class="govuk-body">Use this section to update allocations on schools, colleges and FE institutions</p>
    <% end %>
  </div>
</div>
