<%- title = t('page_titles.support.technical_support') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { 'Support home' => support_home_path },
                  title,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Background jobs', support_sidekiq_admin_path, html_options: { target: '_blank' } %>
    </h2>

    <p class="govuk-body">Use this section to see the background queues and jobs running on the service</p>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Bulk allocation update jobs', support_allocation_batch_jobs_path %>
    </h2>

    <p class="govuk-body">Use this section to view the process of uploaded bulk allocation jobs</p>
</div>
