<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Is there a school missing from this list?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>This is a list of all local authority maintained and special schools.</p>
    <p>Contact support at <%= ghwt_contact_mailto(subject: 'Missing school that will need devices') %>
      to add a missing school.</p>
  </div>
</details>
