<%- title = t('page_titles.responsible_body_schools_list') %>
<% content_for :title, title %>
<% content_for :browser_title, title %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { "Your account" => responsible_body_home_path },
                  title ,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
  </div>
  <div class="govuk-grid-column-full">

    <% if @schools[:ordering_schools].count.positive? %>
      <%= render partial: 'school_states_table', locals: { schools: @schools[:ordering_schools],
                                                           table_id: 'ordering-schools',
                                                           heading: t('.ordering_schools_heading') } %>
    <%- end %>

  </div>
</div>
