<% content_for :title, t('page_titles.responsible_body.devices.order_devices') %>
<% content_for :before_content, govuk_link_to('Back', responsible_body_devices_school_path(urn: @school.urn), class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.responsible_body.devices.order_devices') %>
    </h1>

    <%= render DeviceCountComponent.new(school: @school) %>

    <p class="govuk-body">Only order devices for children who cannot attend school and do not have access to a laptop or tablet.</p>
    <p class="govuk-body">We’re working hard to get devices delivered within 5 working days.</p>
    <p class="govuk-body">Ordering will close when the school reopens.</p>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">It’s important to know how many devices you can order before you sign in. Please order only what you need. If you try to order more than you’ve been allocated, the order will be cancelled.</p>

    <%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: @current_user.email_address } %>
  </div>
</div>
