<%- content_for :before_content, govuk_link_to('Back', responsible_body_devices_schools_path, class: 'govuk-back-link') %>
<%- content_for :title, @school.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @school.name %>
    </h1>

    <%= render SchoolDetailsSummaryListComponent.new(school: @school) %>
  </div>
</div>
