<h3 class="govuk-heading-l">
  <%= govuk_link_to user.full_name, support_user_path(user) %>
</h3>

<%= govuk_summary_list(classes: 'govuk-summary-list--no-border', actions: false) do |component|
  component.row do |row|
    row.key(text: 'Email address')
    row.value(text: user.email_address)
  end
  component.row do |row|
    row.key(text: 'Associated with')
    row.value(text: organisations)
  end
end %>
