<h3 class="govuk-heading-l">
  <%= user.full_name %>
</h3>

<%= govuk_summary_list(classes: 'govuk-summary-list--no-border') do |component|
  component.slot(:row, key: 'Email address', value: user.email_address)
  component.slot(:row, key: 'Associated with', value: unordered_list_of_orgs, action: govuk_link_to('Change', associated_organisations_support_user_path(user)) )
end %>
