<% content_for :title, t('page_titles.thank_you') %>

<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= t('page_titles.thank_you') %>
  </h1>
  <div class="govuk-panel__body">
    Your information has been received successfully
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      What happens next
    </h2>
    <p class="govuk-body">
      We will contact you by email soon, on
      <%= @application_form.request.created_by_user.email_address %>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to 'Tell us about another child or young person', new_application_form_path %>
    </p>
  </div>
</div>
