<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      4G wireless routers
    </h2>
    <p class="govuk-body">
      You can request a router for disadvantaged pupils and
      students who do not have access to the internet at home.
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'Request 4G wireless routers', support_ticket_path %>
      </li>
      <% if (current_user.responsible_body_user? && @responsible_body.devices_available_to_order?(:router)) || (current_user.is_school_user? && current_user.school.devices_available_to_order?(:router)) %>
      <li>
        <%= govuk_link_to 'How to reset your router', '/devices/managing-your-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'See your Huawei router password', huawei_router_password_path %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
