<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Password:</span> <%= @password %>
    </p>
    <p class="govuk-body">
      Your password is the same for all Huawei routers you’ve received.
    </p>
    <p class="govuk-body">
      Do not share it with anyone.
    </p>
    <p class="govuk-body">
      You will need this password to <%= govuk_link_to 'reset your Huawei router', '/devices/reset_your_wireless_router' %>.
    </p>
  </div>
</div>
