<% content_for :title, "Invite #{@school.name} – Support" %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: support_responsible_body_path(@school.responsible_body)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Invite <%= @school.name %>
    </h1>

    <p class="govuk-body">
      <% school_contact_lines = [
          @school_contact.title.present? ? "#{@school_contact.title.upcase_first}: #{@school_contact.full_name}" : @school_contact.full_name,
          @school_contact.email_address,
          @school_contact.phone_number,
        ].reject(&:blank?) %>
      <%= safe_join(school_contact_lines, '<br>'.html_safe) %>
    </p>

    <%= form_with url: support_school_invite_path(school_urn: @school.urn), method: 'post' do |f| %>
      <%= f.govuk_submit 'Invite' %>
    <% end %>
  </div>
</div>
