<div id="allocation" class="app-card govuk-!-margin-bottom-4">
  <h2 id="ordering_closed_sentence" class="govuk-heading-l">
    <%= ordering_closed_sentence %>
  </h2>

  <h2 id="devices_ordered_sentence">
    <%= devices_ordered_sentence %>
  </h2>
</div>
