<div class="app-card app-card__order">
  <% if show_availability? %>
    <h2 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
      <%= "#{available_count} #{'device'.pluralize(available_count)} available" -%>
    </h2>
  <% end %>

  <div class="govuk-panel__body govuk-!-font-size-24">
    <%= t(body_i18n_key, ordered_count: ordered_count, max_count: max_count) %>
  </div>

  <% if show_action && action.present? %>
    <%= govuk_button_link_to action.first[0], action.first[1], class: 'govuk-!-margin-top-4 govuk-!-margin-bottom-1' %>
  <% end %>
</div>
