
<% if @message %>
  <div class="govuk-warning-text  govuk-!-margin-bottom-0" data-module="app-tech-source-maintenance-banner" id="site-banner-component">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <%= @message %>
      </strong>
  </div>
<% end %>