<div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get help with technology
    </h1>
    <p class="govuk-body">
      The Get help with technology programme (GHwT) provided laptops and tablets to help disadvantaged children and young people access remote education and social care services.
    </p>

    <% unless SessionService.is_signed_in?(session) %>
      <div id="sign_in">
        <%= render GovukComponent::InsetTextComponent.new(text: 'Ordering is now closed, but you can still sign in to view your order history and access admin and BIOS passwords for DfE-restricted devices.') %>
        <%=
          render GovukComponent::StartButtonComponent.new(
            text: 'Sign in',
            href: sign_in_path,
            classes: 'govuk-button govuk-button--start'
          )
        %>
        <p class="govuk-body">
          If you do not have sign-in details, read about
          <%= govuk_link_to 'how to access the service', how_to_access_the_get_help_with_technology_service_path %>.
        </p>
      </div>
    <% end %>
  </div>
</div>
