<div class="user-summary-list">
  <%= render GovukComponent::SummaryList.new do |component| %>
    <% rows.each do |row| %>
      <% component.slot(
         :row,
         key: row[:key],
         value: row[:value],
         classes: row[:key].to_s.downcase.gsub(/ /, "-"),
         ) %>
    <% end %>
  <% end %>
</div>
