<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render GovukComponent::NotificationBanner.new({ title: 'Important'}) do |component| %>
      <%= component.slot(:heading, text: "Parents, carers and pupils") %>
      <p class="govuk-notification-banner__body">
        Parents, carers and pupils cannot apply for laptops, tablets or internet access. You should contact your school for help accessing remote education.
      </p>
    <% end %>
  </div>
</div>
