<div class="govuk-warning-text govuk-!-margin-bottom-2">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      Parents, carers, pupils and students
    </h2>
    <p class="govuk-body">Parents, carers, pupils and students cannot apply for laptops, tablets or internet access. You should contact your school, college or <span class="app-no-wrap">further education institution</span> for help accessing remote education.</p>
  </strong>
</div>
