.app-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  text-decoration: none;
  @include govuk-font($size: 19);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }
}

.app-card--blue {
  background: govuk-colour("blue");
  color: govuk-colour("white");
}

.app-card--green {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}

.app-card--yellow {
  background: govuk-tint(govuk-colour("yellow"), 75);
}

.app-card--light-blue {
  background: govuk-tint(govuk-colour("blue"), 80);
}

.app-card--red {
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
}

.app-card--orange {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}

.app-card--white {
  background-color: govuk-colour("white");
}

.app-card__order {
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }
}

.app-card__count {
  @include govuk-font($size: 80, $weight: bold);
  display: block;
}

.app-card__secondary-count {
  @include govuk-font($size: 48, $weight: bold);
  display: block;
}

.app-card__link {
  color: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;

  &:hover {
    color: govuk-tint(govuk-colour('blue'), 80);
  }

  &--selected {
    &:hover {
      color: inherit;
    }
  }
}

.app-card__label {
  text-decoration: underline;
}

