.govuk-grid-column-two-thirds img {
  max-width: 100%;
  border: 2px solid $govuk-border-colour;

  // Cover both columns in a two-thirds/one-third layout
  @include govuk-media-query($from: tablet) {
    max-width: 150%;
  }
}

.app-table-of-contents ul {
  @extend %govuk-list;
  @extend %govuk-list--bullet;
}

.app-table-of-contents a {
  @include govuk-link-common;
  @include govuk-link-style-default;
}
