@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

@import "autocomplete";
@import "pagination";
@import "overrides";
@import "components/guide-next-prev";
@import "banner";
@import "styled-content";
@import "related";
@import "card";
@import "emphasis_link";
@import "components/cookie-banner";
@import "components/start-page-banner";
@import "components/step-by-step-header";
@import "components/step-by-step-nav";

.app-email-template {
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
}

.app-email-template__subject {
  padding-bottom: govuk-spacing(4);
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;
}

$sizes: 40, 20, 16;

@each $size in $sizes {
  .app-schools-table__column-#{$size} {
    width: $size + unquote('%');
  }
}

.search-results {
  border-top: 1px solid $govuk-border-colour;

  > li {
    @include govuk-responsive-padding(4, "top");
    @include govuk-responsive-padding(4, "bottom");
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
  }

  &__count {
    float: left;
  }

  &__new-search {
    float: right;
  }
}

.app-details-in-summary-list {
  .govuk-details__summary {
    margin-bottom: 0;
  }
}

.app-no-wrap {
  white-space: nowrap;
}

.app-survey-container {
  background-color: govuk-colour("light-grey");
  padding: 20px;
  margin-top: -20px;

  @media (max-width: 768px) {
    @include govuk-responsive-margin(6, "top");
  }

}
