@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

@import "autocomplete";
@import "pagination";
@import "overrides";
@import "components/guide-next-prev";
@import "banner";
@import "styled-content";
@import "related";
@import "card";
@import "emphasis_link";
@import "components/cookie-banner";
@import "components/start-page-banner";
@import "components/step-by-step-header";
@import "components/step-by-step-nav";

.app-email-template {
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
}

.app-email-template__subject {
  padding-bottom: govuk-spacing(4);
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;
}

.app-schools-table__column-40 {
  width: 40%;
}

.app-schools-table__column-20 {
  width: 20%;
}

.search-results {
  border-top: 1px solid $govuk-border-colour;

  > li {
    @include govuk-responsive-padding(4, "top");
    @include govuk-responsive-padding(4, "bottom");
    border-bottom: 1px solid $govuk-border-colour;
    margin: 0;
  }

  &__count {
    float: left;
  }

  &__new-search {
    float: right;
  }
}

.app-details-in-summary-list {
  .govuk-details__summary {
    margin-bottom: 0;
  }
}

.app-no-wrap {
  white-space: nowrap;
}

.app-survey-container {
  background-color: govuk-colour("light-grey");
  padding: 20px;
  margin-top: -20px;

  @media (max-width: 768px) {
    @include govuk-responsive-margin(6, "top");
  }
}

.app-masthead {
  position: relative;
  left: 0;
  width: 100%;
  background-color: $govuk-brand-colour;
  margin-top: -10px;

  .govuk-main-wrapper {
    padding-bottom: 10px;
  }

  h1, p, .app-masthead-text { 
    color: white;
  }
  .app-masthead-phase-banner {
    border-color: white;
    .govuk-phase-banner__content {
      color: white;
      .govuk-phase-banner__text {
        a {
          color: white;
          &:hover {
            color: #e8f1f8;
          }
        }
      }
    }
    .govuk-phase-banner__content__tag {
      background-color: white;
      color: $govuk-brand-colour;
    }
  }
  .app-masthead-button-container {
    display: flex;
    .app-masthead-button {
      background-color: white;
      color: $govuk-brand-colour !important;
      white-space: nowrap;
      &:hover {
        background-color: #e8f1f8;
      }
      margin-right: 20px;
    }
    .app-masthead-text {
      margin-top: 11px;
    }
  }
}

.app-sign-in-call-out {
  display: inline-block;
  padding: 10px 20px 10px 16px;
  border-left: 4px solid govuk-colour("dark-grey");
  background-color: govuk-colour("light-grey");
  font-weight: bold;
  text-decoration: none;
}
