// Ideally this should not be needed -
// we should be setting the class govuk-!-display-inline-block
// on the .govuk-form-group elements. But they get rendered by
// the govuk_collection_select helper, which seems to be dropping
// any html_options: {class: '...'} param somewhere in the chain.
// This is a temporary workaround
.govuk-form-group.display-child-forms-inline {
  .govuk-form-group {
    display: inline-block;
  }
}

.govuk-table__cell--nowrap {
  white-space: nowrap;
}

// Elements with this class will be shown by JS on document.ready
.js-only {
  display: none;
}

// Rails' link_to method requires Javscript (Rails UJS) when given
// `method: :delete` as parameter, which we did in the sign-out link.
// This CSS allows the "sign out" link to be rendered as if it were a regular
// link, while actually being a form with method="DELETE".
// That way we can:
// * remove the last reliance on Rails UJS
// * keep the routes RESTful
// * avoid exposing an "unsafe" action as a GET
// * still have a DELETE route that works without Javscript enabled.
.govuk-header__navigation-item {
  .form-inline {
    display: inline-block;

    .nav-button-as-link {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: govuk-colour("white");
      display: inline;
      @include govuk-font(16);
      font-weight: bold;

      &:focus,
      &:active {
        background-color: govuk-colour("yellow");
        color: govuk-colour("black");
        outline: 0;
      }
    }
  }
}

// custom override for app/views/assets/show.html.erb
.assets-table-override {
  .govuk-table__header,
  .govuk-table__cell {
    border-bottom: none;
  }

  .assets-hardware-hash {
    word-break: break-all;
  }
}
