<div class="app-card">
  <h2 class="govuk-heading-m">
    Ordering is closed for laptops, tablets and <span class="app-no-wrap">extra mobile data</span>
  </h2>

  <% if @has_ordered || @has_completed_extra_mobile_data_requests %>
    <%= render partial: 'closed_banner_multiple' %>
  <% end %>
</div>
