<h2 class="govuk-heading-m govuk-!-margin-top-6">
  Access the Support Portal
</h2>

<p class="govuk-body">
   Use the Support Portal to get local admin and BIOS passwords.
</p>

<% if @current_user.orders_devices? %>
  <p class="govuk-body">
    <%= govuk_link_to 'Visit the Support Portal', 'https://computacenterprod.service-now.com/dfe' %>
  </p>
<% end %>

<p class="govuk-body">
  <% if @responsible_body.is_a_trust? %>
    <%= govuk_link_to t('page_titles.responsible_body_trust_users_index'), responsible_body_users_path %>
  <% else %>
    <%= govuk_link_to t('page_titles.responsible_body_users_index', rb_type: @responsible_body.humanized_type), responsible_body_users_path %>
  <% end %>
</p>
