<h2 class="govuk-heading-m  govuk-!-margin-top-6">Order history</h2>

<ul class="app-card govuk-list govuk-list--spaced">
  <li><%= govuk_link_to 'View your schools and colleges', responsible_body_devices_schools_path -%></li>
</ul>
