<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.who_needs_internet_access') %>
    </h1>

    <%= render partial: 'shared/eligibility_across_bt_wifi_and_mno_offers' %>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-4">
      <span class="govuk-caption-m">Step 1</span>

      How many young people are eligible?
    </h2>

    <div class="govuk-!-margin-bottom-4">
      <strong class="govuk-tag">
        Completed
      </strong>
    </div>

    <% if @allocation_request.present? %>
      <dl class="govuk-summary-list govuk-summary-list--wide-terms">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Eligible young people
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @allocation_request.number_eligible %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number who can see a BT hotspot
          </dt>
          <dd class="govuk-summary-list__value">
            150
          </dd>
        </div>
      </dl>
    <% end %>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-4">
      <span class="govuk-caption-m">Step 2</span>
      <%= govuk_link_to 'Request extra mobile data', responsible_body_extra_mobile_data_requests_path %>
    </h2>
    <div class="govuk-!-margin-bottom-4">
      <%- if @requests.empty? %>
        <strong class="govuk-tag govuk-tag--grey">
          Not started yet
        </strong>
      <%- else %>
        <strong class="govuk-tag govuk-tag--blue">
          In progress
        </strong>
      <%- end %>
    </div>

    <p class="govuk-body">Give us mobile numbers and network details and we’ll request extra data for these devices. How much data someone gets will depend on their network.</p>
  </div>
</div>
