<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.who_needs_internet_access') %>
    </h1>

    <%= render partial: 'shared/eligibility_across_bt_wifi_and_mno_offers' %>

    <%= render partial: 'bt_wifi_offer' %>

    <%- if FeatureFlag.active?(:extra_mobile_data_offer) %>
      <hr class="govuk-section-break govuk-section-break--m">

      <%= render partial: 'extra_mobile_data_offer' %>
    <%- end %>
  </div>
</div>
