<% content_for :devices_service, true %>
<% content_for :title, t('page_titles.devices_guidance_how_to_order') %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  "Get laptops",
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.devices_guidance_how_to_order') %>
    </h1>

    <p class="govuk-body-l">
      This guidance explains how to <a class="govuk-link" href="/start">order laptops</a> for state schools, colleges and FE institutions through the Get help with technology service.
    </p>

    <p class="govuk-body">
      Find out <a href="/devices/about-the-offer" class="govuk-link">who can get laptops</a>. We’re also providing <a href="/internet-access" class="govuk-link">internet connections</a> where they’re needed.
    </p>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step" id="decide-who-will-place-orders" >
          <div class="app-step-nav__header app-step-nav__header--non-clickable" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Get set up to order
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-decide-who-will-place-orders-1">
            <p class="app-step-nav__paragraph">
              DfE asked local authorities (LAs) and academy trusts to use the <a class="govuk-link" href="/">Get help with technology service</a> to tell us if they wanted to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>let schools place their own orders</li>
              <li>place orders centrally on behalf of schools</li>
            </ul>

            <p class="app-step-nav__paragraph">
              Further education providers can place their own orders.
            </p>

            <p class="app-step-nav__paragraph">
              If you’ve been nominated to place an order, you should have received an email inviting you to the <a class="govuk-link" href="/">Get help with technology service</a> where you can:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>amend existing contact information</li>
              <li>add additional contacts to place orders</li>
              <li><a class="govuk-link" href="/devices/device-allocations">view your device allocation</a></li>
            </ul>
          </div>
          
            <p class="app-step-nav__paragraph">
              If you need access to use the service, <a class="govuk-link" href="/how-to-access-the-get-help-with-technology-service">read our guidance</a>.
            </p>

        </li>

        <li class="app-step-nav__step" id="nominate-people-to-manage-orders">
          <div class="app-step-nav__header app-step-nav__header--non-clickable" data-position="2">
            <h2 class="app-step-nav__title" id="step-panel-nominate-people-to-manage-orders-2-heading">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title">
               Choose devices and provide technical information
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-nominate-people-to-manage-orders-2">
            <p class="app-step-nav__paragraph">
              We may need some technical information from you before you can order, so we recommend choosing the types of devices and the settings you want before you’re invited to order.
            </p>
            <p class="app-step-nav__paragraph">
              The device types (depending on availability) are:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li><a class="govuk-link govuk-link--no-visited-state" href="#microsoft-windows-laptops">Microsoft Windows laptops</a></li>
              <li><a class="govuk-link govuk-link--no-visited-state" href="#google-chromebooks">Google Chromebooks</a></li>
            </ul>
            
            <p class="app-step-nav__paragraph">
              Apple iPads and Microsoft Windows tablets are now permanently out of stock.
            </p>        

            <h3 class="govuk-heading-s" id="microsoft-windows-laptops">
              Microsoft Windows laptops
            </h3>

            <p class="app-step-nav__paragraph">
              When you order you’ll be asked whether or not you want to have DfE settings installed.
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                <h4 class="govuk-heading-s govuk-!-font-weight-regular">
                  Not having DfE settings installed
                </h4>
                <p class="app-step-nav__paragraph">
                  These 'Standard' Windows devices are provided with factory settings. Schools, colleges, further education institutions, trusts or LAs should configure them at their own cost before lending them to students. This means installing preferred safeguarding measures and bringing them into an existing device management framework.
                </p>
                <p class="app-step-nav__paragraph">
                Read our guidance on <a class="govuk-link" href="/devices/preparing-a-standard-windows-device">preparing a standard Windows device</a>.
                </p>
              </li>
              <li>
                <h4 class="govuk-heading-s govuk-!-font-weight-regular">
                  Having DfE settings installed
                </h4>
                <p class="app-step-nav__paragraph">
                  These ‘DfE Restricted’ Windows devices are set up with content filtering and mobile device management (MDM) software before delivery. They’re not configurable, and there are limitations on downloading software and changing strict content filters that may prevent some browsers and conferencing tools from functioning. These settings expire on 30 September 2021, <a class="govuk-link" href="/devices/preparing-microsoft-windows-laptops-and-tablets#reconfigure-your-devices">read our guidance on how to reset devices and apply your own security settings to make them safe for pupils and students to use</a>. 
                </p>
              </li>
            </ul>

            <p class="app-step-nav__paragraph">
              Read more information about <a class="govuk-link" href="/devices/preparing-microsoft-windows-laptops-and-tablets">preparing Microsoft devices</a> for pupils, including how to access the local admin and BIOS passwords you’ll need to reset devices.
            </p>

            <h3 class="govuk-heading-s" id="google-chromebooks">
              Google Chromebooks
            </h3>

            <p class="app-step-nav__paragraph">
             You need to <a class="govuk-link" href="/sign-in">sign in to the Get help with technology service</a> and give the following information before you can order Google Chromebooks:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the domain the school, college or FE provider has registered for Google Workspace for Education Fundamentals (formerly G Suite for Education), for example 'school.co.uk'</li>
              <li>a recovery email address on a separate domain to the one registered for Google Workspace for Education Fundamentals - for example, if the registered domain is 'school.com', the recovery email cannot be 'recovery@school.com'</li>
            </ul>

            <p class="app-step-nav__paragraph">
              If you’re not sure how to find this information, you should ask your IT support for help.
            </p>

            <p class="app-step-nav__paragraph">
              If the school or college you’re ordering for does not currently use an education platform, you can <a class="govuk-link" href="/digital-platforms">apply for DfE-funded support to get access to either Google Workspace for Education Fundamentals (formerly G Suite for Education) or Microsoft 365 Education (formerly Office 365 Education)</a>.
            </p>

             <p class="app-step-nav__paragraph">
              Read more information about <a class="govuk-link" href="/devices/preparing-chromebooks">preparing Google Chromebooks</a> for pupils and students.
            </p>

              <p class="app-step-nav__paragraph">
               View the <a class="govuk-link" href="/devices/device-specification">full specifications</a> of all of these devices.
            </p>

          </div>
        </li>

        <li class="app-step-nav__step" id="prepare-to-place-an-order" >
          <div class="app-step-nav__header app-step-nav__header--non-clickable" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Order devices when you’re invited to
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-prepare-to-place-an-order-3">
            <p class="app-step-nav__paragraph">
              All schools, colleges and eligible further education institutions in England have been invited to order through the <a class="govuk-link" href="/">Get help with technology service</a>.
            </p>

            <h3 class="govuk-heading-s">
              What happens when you’re invited to order
            </h3>

            <p class="app-step-nav__paragraph">
              You’ll be asked to <a class="govuk-link" href="/sign-in">sign in to the Get help with technology service</a> to check your allocation. You’ll then be guided to a website called TechSource where you’ll place your order. You can order your full allocation in one go, or in multiple orders. It’s important not to order more than your allocation. If you do, your whole order will be cancelled.
            </p>

            <p class="app-step-nav__paragraph">
              Once you <a class="govuk-link govuk-link--no-visited-state" href="#step-panel-nominate-people-to-manage-orders-2-heading">select the devices you want to order</a>, you’ll be asked to confirm delivery and contact details.
            </p>

            <h3 class="govuk-heading-s">
              Get devices for specific circumstances
            </h3>

            <p class="app-step-nav__paragraph">
              Devices can be requested at any time for disadvantaged pupils and students:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>in any year group who have been advised to shield because they (or someone they live with) are <a class="govuk-link" href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19#cev">clinically extremely vulnerable</a></li>
              <li>in any year group, including 16 to 19 education, attending a hospital school</li>
            </ul>

            <p class="app-step-nav__paragraph">
              <%= govuk_link_to "Contact us", support_ticket_path %> to make a request. Do not submit any personally identifiable information about pupils that we do not need to process your support query. If we receive a request that contains such information, we’ll ask you to resend it.
            </p>
          </div>
        </li>

        <li class="app-step-nav__step" id="choosing-devices" >
          <div class="app-step-nav__header app-step-nav__header--non-clickable" data-position="4">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Receive your order
              </span>
            </h2>
          </div>

          <div class="app-step-nav__panel" id="step-panel-choosing-devices-4">
            <p class="app-step-nav__paragraph">
              <%= t('responsible_body.devices.delivery_timeline') %>
              For large orders (more than 150 devices), we’ll call the main delivery contact to arrange delivery.
            </p>

            <p class="app-step-nav__paragraph">
              <a class="govuk-link" href="/devices/device-distribution-and-ownership">Find out about ownership, and options for lending or giving devices to children, young people or other organisations</a>.
            </p>

            <p class="app-step-nav__paragraph">
              After receiving devices and preparing them for use by pupils and students, schools, colleges and further education institutions can:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>arrange for them to be collected by families</li>
              <li>organise for them to be delivered to pupils’ and students’ homes</li>
            </ul>

            <p class="app-step-nav__paragraph">
              All distribution should be done in accordance with the <a class="govuk-link" href="https://www.gov.uk/guidance/national-lockdown-stay-at-home">social distancing guidelines relevant to your local area</a>.
            </p>

            <p class="app-step-nav__paragraph">
              The <a class="govuk-link" href="https://computacenterprod.service-now.com/dfe">Support Portal</a> provides information on how to request admin passwords for all DfE Restricted devices.
            </p>

            <p class="app-step-nav__paragraph">
              Find out how to <a class="govuk-link" href="/devices/">get further help</a> with your devices and <a class="govuk-link" href="/devices/replace-a-faulty-device">what to do if you have a faulty device</a>.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
