<% content_for :devices_service, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.devices_guidance_index') %>
    </h1>

    <p class="govuk-body">Many vulnerable and disadvantaged children and young people in England don't have access to a digital device or internet connection. The Department for Education (DfE) is offering support to help children, young people and families access remote education and social care.</p>

    <p class="govuk-body">The DfE has contracted Computacenter to supply local authorities and academy trusts with <%= govuk_link_to 'laptops, tablets and connectivity packages', 'https://www.gov.uk/guidance/get-help-with-technology-for-remote-education-during-coronavirus-covid-19' %> for children and young people to access and social care and education during coronavirus (COVID-19) pandemic.</p>

    <% @pages.each do |page| %>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-24"><%= govuk_link_to page.title, page.path %></h2>

      <p class="govuk-body"><%= page.description %></p>
    <% end %>
  </div>
</div>
