<% content_for :title, t('page_titles.devices_service_performance') %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Devices Pilot</span>
  <%= t('page_titles.service_performance') %>
</h1>

<%= render partial: 'sign_ins' %>

<%= render partial: 'preorder_information' %>
