<%- title = t('page_titles.responsible_body_devices_home') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([
    { 'Home' => responsible_body_home_path },
    title,
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.responsible_body_schools_list'), responsible_body_devices_schools_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>tell us who will place orders for schools</li>
      <li>give schools access to the services they need</li>
      <li>see your list of schools and their allocations</li>
    </ul>

    <% if @responsible_body.is_ordering_for_schools? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to t('page_titles.order_devices.title'), responsible_body_devices_order_devices_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>place orders in the event of disruption</li>
        <li>place orders for specific circumstances</li>
        <li>access the Computacenter TechSource website</li>
      </ul>
    <%- end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.responsible_body_devices_request_devices'), responsible_body_devices_request_devices_path %>
    </h2>

    <p class="govuk-body">Use this section to request devices for children who:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are shielding on official advice</li>
      <li>cannot attend school because restrictions prevent them from going</li>
    </ul>
  </div>
</div>
