<%- title = t('page_titles.responsible_body_devices_tell_us') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([
                   { "Home" => responsible_body_home_path },
                   title,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <h2 class="govuk-heading-m">Decide if schools and colleges can order their own devices</h2>

    <p class="govuk-body">You can allow schools and colleges to order their own devices. Or you can manage some, or all, orders centrally.</p>

    <% if @responsible_body.is_a_trust? %>
      <p class="govuk-body">If you let schools and colleges place orders you’ll need to nominate someone in each school or college for us to contact.</p>
      <p class="govuk-body">Each contact will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage who can order devices</li>
        <li>order devices themselves</li>
      </ul>
    <% else %>
      <p class="govuk-body">We recommend letting schools and colleges place orders because it’s the quickest way to get help to those who need it.</p>
      <p class="govuk-body">You’ll need to nominate someone in each school or college for us to contact.</p>

      <p class="govuk-body">Each contact will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage who can order devices</li>
        <li>order devices themselves</li>
      </ul>
    <% end %>
    <div class="govuk-!-margin-top-6">
      <%= govuk_button_link_to 'Continue', responsible_body_devices_who_will_order_edit_path %>
    </div>
  </div>
</div>
