<% if @next_page or @prev_page %>
  <hr class="govuk-section-break govuk-section-break--m">
<% end %>

<% if @next_page %>
  <%= link_to @next_page[:path], class: 'app-guide-next-prev-link' do %>
    <strong class="govuk-heading-m govuk-!-margin-bottom-1">
      <svg class="app-guide-next-prev-icon guide-next-prev-icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      Next
    </strong>
    <p class="app-guide-next-prev-description govuk-body">
      <%= @next_page[:text] %>
    </p>
  <% end %>
<% end %>

<% if @prev_page %>
  <% if @next_page %>
    <hr class="govuk-section-break govuk-section-break--m">
  <% end %>
  <%= link_to @prev_page[:path], class: 'app-guide-next-prev-link' do %>
    <strong class="govuk-heading-m govuk-!-margin-bottom-1">
      <svg class="app-guide-next-prev-icon guide-next-prev-icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
      Previous
    </strong>
    <p class="app-guide-next-prev-description govuk-body">
      <%= @prev_page[:text] %>
    </p>
  <% end %>
<% end %>
