<% content_for :browser_title, "#{@title} – #{t('page_titles.guide_to_collecting_mobile_information')}" %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  t('page_titles.guide_to_collecting_mobile_information'),
                 ]) %>
<% end %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.guide_to_collecting_mobile_information') %>
</h1>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l"><%= @title %></h2>
