<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 2 } %>

    <p class="govuk-body">To check if the child or young person qualifies for extra data, you need to find out:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what their (or their family member’s) mobile network is</li>
      <li>whether they’re on a monthly contract or a Pay-as-you-go deal</li>
    </ul>

    <h3 class="govuk-heading-m">How to check someone’s mobile network</h3>

    <p class="govuk-body">Most smartphones display the name of the network on the top right or left of the screen.</p>

    <h3 class="govuk-heading-m">How to check if someone’s on a Pay-as-you-go deal or a contract</h3>

    <p class="govuk-body">Ask the account holder if they top up their credit at a shop. If they do, they’re likely to be a Pay-as-you-go customer. If they have a monthly direct debit, they probably have a contract.</p>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
