<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">Find out the following from the account holder:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>what their mobile network is</li>
      <li>whether they’re on a monthly contract or they pay as they go</li>
    </ul>

    <h3 class="govuk-heading-m">How to check your mobile network</h3>

    <p class="govuk-body">Most smartphones display the name of the network on the top right or left of the screen.</p>

    <%= render partial: 'guide_navigation' %>
  </div>
</div>
