<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">Find out the following from the account holder:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>their name</li>
      <li>their mobile phone number (this should always start with ‘07’)</li>
    </ul>

    <p class="govuk-body">Check you’ve noted down these details correctly, then record them in the spreadsheet. Also make a note of their mobile network, and whether they’re on a contract or a Pay-as-you-go deal.</p>

    <p class="govuk-body">We need these details to arrange the increase in data with the relevant mobile network.</p>

    <p class="govuk-body">Account holders with monthly contracts need to be over the age of 18.</p>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
