<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">This guide is for anyone who needs to explain the Department for Education’s pilot offer to increase mobile data allowances for children and young people.</p>

    <p class="govuk-body">It helps you tell people what’s available and collect the information you need to submit.</p>

    <h3 class="govuk-heading-m" id="who-can-get-help">Who can get help</h3>

    <%= render partial: 'shared/pilot_mno_offer_eligibility' %>

    <h3 class="govuk-heading-m" id="what-information-youll-need-to-collect">What information you’ll need to collect</h3>

    <p class="govuk-body">To request extra mobile data for an eligible person we need you to collect:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder’s name</li>
      <li>their mobile number (a number beginning with ‘07’)</li>
      <li>their mobile network</li>
      <li>whether they pay monthly or pay as they go</li>
      <li>permission to share these details with the Department for Education and the mobile network</li>
    </ul>

    <%= render partial: 'guide_navigation' %>
  </div>
</div>
