<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 4 } %>

    <p class="govuk-body">Those affected by the offer need to understand how we’ll use their personal information.</p>

    <p class="govuk-body">Share the following privacy statement with:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the adult account holder for the mobile device</li>
      <li>the parent or carer of the person benefiting from the offer, if they’re under 13</li>
      <li>the person benefiting from the offer, if they’re 13 or over</li>
    </ul>

    <h3 class="govuk-heading-m">Privacy statement</h3>
    <div class="govuk-inset-text">
      <p class="govuk-body">1. For the purposes of data protection, I need to let you know that the Department for Education (DfE) is running the Mobile Network Offer through schools and their trusts or local authorities.</p>

      <p class="govuk-body">2. If the offer is taken up by an adult account holder, the school or social care team will share the account holder’s name and mobile phone details with the DfE, who will share these with the relevant mobile network operator.</p>

      <p class="govuk-body">3. The mobile network operator will use that information to increase the data available for the account holder’s mobile device, as long as they qualify for the offer.</p>

      <p class="govuk-body">4. The adult account holder’s personal data is only shared with their mobile network operator for the purposes of the offer. No names of children or other adults, other than adult account holder, are shared with the DfE or the mobile network operator.</p>

      <p class="govuk-body">5. No personal information will be shared with the DfE if you do not want to take up the offer.</p>

      <p class="govuk-body">6. If you want to know more about how your personal information will be used before you take up the offer, we can send that to you first.</p>

      <p class="govuk-body">7. If you decide to take up the offer, you’ll get a text message from the Department for Education with more information about your data protection rights.</p>
    </div>

    <p class="govuk-body">If the account holder wants to receive some written information first, you can send them a link to our <%= govuk_link_to 'privacy information', increasing_mobile_data_privacy_notice_path %>.</p>

    <p class="govuk-body">If they want to take up the offer, you will need to confirm you’ve shared the privacy policy.</p>
  </div>
</div>
