<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">What data someone will get depends on their mobile network. Some networks can’t offer data to Pay as you go (PAYG) customers.</p>

    <p class="govuk-body">You should tell them:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>if there is an offer they can use (or if there is no offer available)</li>
      <li>the details of that offer</li>
      <li>that they’ll receive a text message when their free data has been activated</li>
      <li>when their free data will end</li>
      <li>that this data can be used when tethering a mobile phone to another device for internet access</li>
    </ul>

    <h3 class="govuk-heading-m" id="offer-details">Providers taking part in the pilot</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>EE</li>
      <li>Three</li>
      <li>Virgin Mobile</li>
      <li>Smarty</li>
    </ul>

    <h4 class="govuk-heading-s">EE</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>The recipient will need to have been an EE customer for the last 3 months.</li>
      <li>The recipient will get 20BG of additional data per month until 9 October.</li>
      <li>The offer is available to both Pay Monthly and Pay-As-You-Go customers.</li>
      <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
      <li>EE will aim to process the request within one week.</li>
    </ul>

    <h4 class="govuk-heading-s">Three</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>The recipient will get unlimited data until the end of 2020.</li>
      <li>The offer is available to both Pay Monthly and Pay-As-You-Go customers.</li>
      <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
      <li>Three will aim to process the request within 3-5 days for Pay-as-you-go customers and within 2 days for Pay monthly customers.</li>
    </ul>

    <h4 class="govuk-heading-s">Virgin Mobile</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>The recipient will get 20GB of additional data until the end of August 2020.</li>
      <li>The offer is only available to Pay Monthly customers identified as needing this support. It’s not available to Pay-As-You-Go customers.</li>
      <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
      <li>Virgin Mobile will aim to process the request within one week.</li>
      <li>Wi-Fi hotspots are open to all existing customers, including those on Pay As You Go. Customers on Pay As You Go will need to have a minimum of £5 credit. Instructions to download the app and find their nearest hotspot can be found here <%= govuk_link_to 'www.virginmedia.com/wifiapp', 'https://www.virginmedia.com/shop/virgin-media-connect-app-mobile' %>.</li>
    </ul>

    <h4 class="govuk-heading-s">Smarty</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>The recipient will get unlimited data until the end of 2020.</li>
      <li>The offer is available to both Pay Monthly and Pay-As-You-Go customers.</li>
      <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
      <li>Smarty will aim to process the request within 2 days.</li>
    </ul>

    <h3 class="govuk-heading-m">Providers that might join at a later stage</h3>

    <p class="govuk-body">The following providers are not yet on board, but it’s possible they’ll join at a later stage.
    It’s still worth gathering information from account holders who use these networks. We’ll let them know if it’s possible for them to get additional data.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>BT Mobile</li>
      <li>BT Plusnet</li>
      <li>GiffGaff</li>
      <li>O2</li>
      <li>Tesco Mobile</li>
      <li>Sky Mobile</li>
      <li>Vodafone</li>
    </ul>

    <%= render partial: 'guide_navigation' %>
  </div>
</div>
