<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">Once you know how many vouchers you’re getting, you need to decide who to give them to.</p>

    <p class="govuk-body">Not everyone in need will be able to access a BT hotspot, so you should find out who the vouchers will work for before giving them out.</p>

    <h3 class="govuk-heading-m">How to check hotspot coverage</h3>

    <%= render partial: 'shared/how_to_check_hotspot_coverage' %>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
