<p class="govuk-body">
  If you are going to order Google Chromebooks, we’ll need 2 pieces of information to configure them:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the domain a school uses for its Google services</li>
  <li>the school’s recovery email address</li>
</ul>
<p class="govuk-body">
  We need this information so we can secure the devices.
</p>
<p class="govuk-body">
  If you need help finding these details, email <%= govuk_link_to('COVID.TECHNOLOGY@education.gov.uk', 'mailto:COVID.TECHNOLOGY@education.gov.uk') %>
</p>
