<p class="govuk-body">When you order you can choose from these devices:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Microsoft Windows laptop</li>
  <li>Microsoft Windows tablet</li>
  <li>Google Chromebook</li>
  <li>Apple iPad</li>
</ul>

<p class="govuk-body">If you’re going to order Google Chromebooks, we need information to configure them before you place your order.</p>
