<li>
  do not have access to a <%= govuk_link_to 'fixed broadband connection', 'https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/broadband-speeds/broadband-basics' %> (the request may be unsuccessful if the account holder also has broadband)
</li>
<li>
  cannot afford the additional data needed to access educational resources
</li>
