<p class="govuk-body">
  Increased internet access is available in England to families with children from early years up to 16, and care leavers up to 25 if they:
</p>
<ul class="govuk-list govuk-list--bullet">
  <%= render partial: 'shared/eligibility_points_across_bt_wifi_and_mno_offers' %>
</ul>
