<% if FeatureFlag.active?(:half_term_delivery_suspension) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      Deliveries have now paused due to the Easter holiday. You can still order, but your devices will be delivered from <span class="app-no-wrap">Monday 19 April</span> onwards.
    </strong>
  </div>
<% end %>

