<% if FeatureFlag.active?(:half_term_delivery_suspension) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      All deliveries are paused during half term. You can still order if you’re invited to, but delivery will happen from <span class="app-no-wrap">Monday 22 February</span> onwards.
    </strong>
  </div>
<% end %>

