<% if FeatureFlag.active?(:half_term_delivery_suspension) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      All deliveries will be paused during the Easter holiday. You can still order, but orders placed from 4pm on Thursday 25 March will be delivered from Monday 19 April onwards.
    </strong>
  </div>
<% end %>

