<% if FeatureFlag.active?(:half_term_delivery_suspension) %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      All deliveries are paused during half term, but you can still order devices. Deliveries will resume on Monday 22 February.
    </strong>
  </div>
<% end %>
