<p class="govuk-body">Invite someone in your school or college who:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>understands what devices are needed and who will get them</li>
  <li>can configure devices or give technical information</li>
</ul>