
<p class="govuk-body">Invite someone in your school or college who:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>understands what devices are needed and who will get them</li>
  <li>can configure devices or give technical information</li>
</ul>

<h2 class="govuk-heading-s">
  Get consent for us to share their information
</h2>
<p class="govuk-body">
  When you invite someone, their name, email address and <span class="app-no-wrap">phone number</span> will be shared with Computacenter (UK) Limited. Before you invite them:
</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>
    give them this <%= govuk_link_to "notice on how we look after personal information", privacy_general_privacy_notice_path %>
  </li>
  <li>
    get consent for their details to be shared
  </li>
</ul>
