<div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">
  <div class="app-survey-container">
    <h2 class="govuk-heading-m">
      Give feedback
    </h2>
    <p class="govuk-body">
      <%= t('user_feedback') %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <%= user_feedback_link %>
    </p>
  </div>
</div>
