<h2 class="govuk-heading-m">Operation Warm Welcome</h2>

<p class="govuk-body">
  There&rsquo;s a different process for
  ordering devices for children arriving
  under Operation Warm Welcome.
</p>

<p class="govuk-body">
  You can
  <%= govuk_link_to 'order laptops and routers by filling in this form', 'https://forms.gle/Fvz1MZccZvxyT7hB6' %>.
</p>

<p class="govuk-body">
  <%= govuk_link_to 'Find out more about Operation Warm Welcome and what devices are available', '/devices/operation-warm-welcome' %>.
</p>
