<h2 class="govuk-heading-m">Operation Warm Welcome</h2>

<p class="govuk-body">
  There&rsquo;s a different process for
  ordering devices for children arriving
  under Operation Warm Welcome.
</p>

<p class="govuk-body">
  To place an order, contact us at:
  <%= govuk_mail_to 'COVID.technology@education.gov.uk', 'COVID.technology@education.gov.uk', subject: 'Operation Warm Welcome devices' %>
</p>

<p class="govuk-body">
  <%= govuk_link_to 'Find out more about Operation Warm Welcome and what devices are available', '/devices/operation-warm-welcome' %>.
</p>
