<h2 class="govuk-heading-m">Operation Warm Welcome</h2>

<p class="govuk-body">
  There&rsquo;s a different process for
  ordering devices for children arriving
  under Operation Warm Welcome.
</p>

<p class="govuk-body">
  You can
  <%= govuk_link_to 'order laptops and routers by filling in this form', 'https://docs.google.com/forms/d/1cvBd0uyJQ1sH81g1ekFHT5Eos3AU0blzJ1edD3L1m3o/edit' %>.
</p>

<p class="govuk-body">
  <%= govuk_link_to 'Find out more about Operation Warm Welcome and what devices are available', '/devices/operation-warm-welcome' %>.
</p>
