<p class="govuk-body">
  This pilot is open to children from early years up to 16, and care leavers up to 25 if they:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>don’t have access to a fixed broadband connection</li>
  <li>cannot afford the additional data needed to access educational resources or social care services</li>
  <li><%= govuk_link_to 'cannot access a BT hotspot', about_bt_wifi_path %></li>
  <li>are an existing customer of a participating mobile network operator</li>
</ul>
