    <h1 class="govuk-heading-xl">
      Privacy notice
    </h1>

    <p class="govuk-body-l">Before you continue, please read the privacy notice.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <%= render partial: 'shared/privacy_notice_text' %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
