<h2 class="govuk-heading-l" id="get-help-with-technology--how-we-look-after-personal-data">Get help with technology – How we look after personal data</h2>

<h3 class="govuk-heading-m" id="who-this-information-is-for">Who this information is for</h3>

<p class="govuk-body">This information is for individuals employed by a school, local authority or trust. It tells them how their name and contact details will be used for the Get help with technology initiative.</p>

<h3 class="govuk-heading-m" id="get-help-with-technology">Get help with technology</h3>

<p class="govuk-body">The Get help with technology initiative is run by the Department for Education (DfE) to enable schools, local authorities and trusts to order computing devices and other related products and services. These are made available to help young people in their education.</p>

<h3 class="govuk-heading-m" id="how-dfe-will-use-personal-information">How DfE will use personal information</h3>

<p class="govuk-body">We will collect your name and contact details (specifically, your work email and telephone number) and share this with a contracted third party (see below) to create an account for you. This will enable you to order computing devices or other related products and services for your school or one within your local authority or trust. We may also contact you to gather feedback in order to review and improve the Get help with technology initiative.</p>


<h3 class="govuk-heading-m" id="how-personal-information-will-be-shared">How personal information will be shared</h3>
<p class="govuk-body">We share the following information with a contracted third party (currently Computacenter (UK) Ltd) which administers the ordering and supply of computing devices and other related products and services under the Get help with technology initiative on behalf of DfE:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name and contact details (specifically, your work email and telephone number)</li>
  <li>the school’s name and address</li>
</ul>

<p class="govuk-body">The contracted third party only receives this information so that it can administer the ordering and delivery of computing devices or other related products and services under the Get help with technology initiative.</p>

<h3 class="govuk-heading-m" id="why-we-can-use-personal-information">Why we can use personal information</h3>
<p class="govuk-body">To use personal information, we need to meet one of the conditions specified under data protection legislation. In providing this service, DfE uses and shares personal information as part of its legitimate interest, which is one of the specified conditions.  This service, which requires your personal information for ordering computing devices and other related products and services, is considered necessary and proportionate to support young people in their education during disruption caused by the current coronavirus (COVID-19) pandemic. This includes scenarios where there’s a local lockdown or where a young person needs to shield for clinical reasons.</p>

<h3 class="govuk-heading-m" id="how-long-we-hold-personal-information">How long we hold personal information</h3>

<p class="govuk-body">Personal information will only be held as long as is necessary for the above purposes. It is currently anticipated that the Get help with technology initiative will be made available until 31 December 2021. We currently expect that personal information relating to ordering and delivery of computing devices and other related products and services will be retained for up to 6 months following the termination of the Get help with technology initiative for evaluation purposes (i.e. until 30 June 2022), after which it will be securely destroyed. However, these periods may be extended where necessary for the achievement of the purposes above.</p>

<h3 class="govuk-heading-m" id="your-rights">Your rights</h3>

<p class="govuk-body">You have certain rights under data protection law, including the right to find out what data we hold about you. If you want to find this out, you can make a ‘subject access request’ using our <%= govuk_link_to 'contact form', 'https://www.education.gov.uk/help/contactus' %>.</p>

<p class="govuk-body">You can find more information about how DfE handles personal data in our <%= govuk_link_to 'personal information charter', 'https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter' %>. You can also find out more about <%= govuk_link_to 'data protection rights', 'https://ico.org.uk/your-data-matters/' %> from the <%= govuk_link_to 'Information Commissioner’s Office', 'https://ico.org.uk/' %>.</p>
