<h1 class="govuk-heading-l">
  <%= t('page_titles.general_privacy_notice') %>
</h1>

<h2 class="govuk-heading-m" id="who-this-information-is-for">Who this information is for</h2>

<p class="govuk-body">This information is for people involved with the Get help with technology programme who are working in, or on the behalf of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>local authorities (LAs)</li>
  <li>academy trusts (trusts)</li>
  <li>schools</li>
  <li>colleges</li>
  <li>further education institutions</li>
</ul>

<h3 class="govuk-heading-m">How we use your personal information</h2>

<p class="govuk-body">The Get Help with Technology programme is run by the Department for Education (DfE). This privacy notice explains how it will use your personal information.</p>

<p class="govuk-body">As part of the Get Help with Technology programme we need to be able to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>coordinate the procurement and physical movement of devices</li>
  <li>ensure the relevant teams coordinate across a range of organisations to fulfil the programme, including technical support</li>
  <li>create an account on your behalf so you can order computing devices or other related products and services for your school or one within your local authority or trust</li>
  <li>invite people to participate in user research or provide feedback, in order to improve the service</li>
</ul>

<p class="govuk-body">The DfE is the data controller for the personal information collected from you through the Get help with technology programme.</p>

<p class="govuk-body">The personal information collected will be:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your name</li>
  <li>your role in your organisation</li>
  <li>your contact details (such as work telephone number and email address)</li>
</ul>

<h2 class="govuk-heading-m">When we can use your personal information</h2>

<p class="govuk-body">To use your personal information we need to meet one (or more) conditions in the data protection legislation. For this service we can use your information as part of our joint legitimate interests to operate and administer the Get help with technology programme, including ensuring access to technical support.</p>

<p class="govuk-body">For example, DfE may share the email address of a local authority’s technical IT contact with a school that received devices from that LA, so the school may contact them to resolve support queries.</p>

<p class="govuk-body">This service, which requires your personal information for ordering computing devices and other related products and services, is considered necessary and proportionate to support young people in their education during disruption caused by the current coronavirus (COVID-19) pandemic. This includes scenarios where there are restrictions or where a young person needs to shield for clinical reasons.</p>

<h2 class="govuk-heading-m">How long we hold personal information</h2>

<p class="govuk-body">Personal information is held by the DfE for up to 2 years.</p>

<h2 class="govuk-heading-m">Who we share your personal information with</h2>

<p class="govuk-body">We share your personal information with other contacts in local authorities, academy trusts, schools, colleges and <span class="app-no-wrap">further education institutions</span> so that they may contact you in relation to the programme, such as gaining access to technical support.</p>

<p class="govuk-body">We share your information with contracted third parties who work on behalf of the DfE as part of the programme:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Computacenter (UK) Limited - so that they can administer the ordering and delivery of computing devices and related services, such as device support</li>
</ul>

<p class="govuk-body">We will also share data if there is a legal requirement for us to share it.</p>

<h2 id="your-individual-rights" class="govuk-heading-m">Your individual rights</h2>

<p class="govuk-body">Under the Data Protection Act 2018, you’re entitled to ask if we hold information relating to you and ask for a copy, by making a ‘subject access request’.</p>

<p class="govuk-body">For further information and how to request your data, use the ‘contact form’ under the ‘How to find out what personal information we hold about you’ section in the <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" class="govuk-link">Personal Information Charter</a>.</p>

<p class="govuk-body-m">You can read further information about your data protection rights at the <a href="https://ico.org.uk/" class="govuk-link">Information Commissioner’s Office</a>.</p>
