<h2 class="govuk-heading-l">This school has no allocation</h2>

<p class="govuk-body">They can still <%= govuk_link_to 'request devices for specific circumstances', responsible_body_devices_request_devices_path %>.</p>

<p class="govuk-body">Reasons for a 0 allocation include:</p>
<ul class="govuk-list govuk-list--bullet">
  <% if FeatureFlag.active?(:reduced_allocations) %>
    <li>the school has no children in years 6, 10 or 11 and <%= govuk_link_to 'their allocation was removed due to supply chain delays', responsible_body_devices_reduced_allocations_path %></li>
  <% else %>
    <li>the school has no children in the eligible year groups, years 3 to 11</li>
  <% end %>
  <li>there are very few children on free school meals according to the most recent census data</li>
  <li>there was not enough data to calculate an allocation – for example it’s a new school</li>
</ul>

<%- if @school.preorder_information.needs_contact? || (@school.preorder_information.orders_managed_centrally? && !@school.preorder_information.chromebook_information_complete?) %>
  <h3 class="govuk-heading-m">We still need some information</h3>

  <p class="govuk-body">If the school will request and order their own devices, we need to know who to contact.</p>
  <p class="govuk-body">If you are managing their requests centrally, we need to know if they will want Google Chromebooks.</p>
<%- end %>

<h3 class="govuk-heading-m">Tell us if this school needs an allocation</h3>

<p class="govuk-body">Send details to <%= ghwt_contact_mailto(subject: "A school (#{@school.name} #{@school.urn}) needs an allocation") %></p>
