<p class="govuk-body">You can use the ‘Get help with technology’ service to:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>manage who will order devices for your school</li>

  <li>access the Computacenter TechSource website to place orders when devices are made available</li>

  <li>give us technical details for Chromebooks if you’ll be ordering them</li>
  <li>view your device allocation</li>
</ul>
