<h2 class="govuk-heading-l">This <%= @school.institution_type %> had no allocation</h2>

<p class="govuk-body">Reasons for a 0 allocation included:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>this <%= @school.institution_type %> had no one in the eligible year groups</li>
  <li>there were very few pupils or students on free meals according to the most recent census data</li>
  <li>there was not enough data to calculate an allocation – for example, it’s a new <%= @school.institution_type %>.</li>
</ul>
