<p class="govuk-body">You need to place orders on a website called TechSource.</p>

<p class="govuk-body">Use these details to sign in:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
  <li>User ID: <%= local_assigns[:email_address] %></li>
  <li>Password: Use the ‘Forgotten password?’ link to set a password the first time you sign in</li>
</ul>

<%= govuk_start_button_link_to('Start now', techsource_start_path, class: 'govuk-!-margin-bottom-3', target: '_blank') -%>

<p class="govuk-body-s">on TechSource in a new window</p>
