<p class="govuk-body">Your ‘User ID’ is your email address: <%= local_assigns[:email_address] %></p>

<p class="govuk-body">If you do not remember your password use the ‘Forgotten password?’ link to reset it.</p>

<%= govuk_start_button_link_to('Start now', techsource_start_path, class: 'govuk-!-margin-bottom-3 govuk-!-margin-top-4', target: '_blank') -%>

<p class="govuk-body-s">on TechSource in a new window</p>
