<h2 class="govuk-heading-m">
  What’s in stock
</h2>

<p class="govuk-body">
You can see which types of device are currently in stock when you sign in to TechSource.
</p>

<p class="govuk-body">
  <%= link_to_devices_guidance_subpage 'Read more about the devices and specifications that may be available.', 'device-specification' %>
</p>

<p class="govuk-body">
Most devices will be delivered within 5 working days.
</p>

<p class="govuk-body">
  If you order DfE Restricted Windows laptops - <%= link_to_devices_guidance_subpage 'find out how to reset them before security software expires on 30 September 2021', '/devices/preparing_microsoft_windows_laptops_and_tablets#reconfigure_your_devices' %>.
</p>
