<h2 class="govuk-heading-m">
  What’s in stock
</h2>

<p class="govuk-body">
  You can see which types of device are currently in stock when you sign in to TechSource.
</p>

<p class="govuk-body">
  <%= link_to_devices_guidance_subpage 'Read more about the devices and specifications that may be available.', 'device-specification' %>
</p>
