<h2 class="govuk-heading-m">
  Device availability
</h2>

<h3 class="govuk-heading-s">
  Out of stock
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Apple iPads
  </li>
  <li>
    Microsoft Windows tablets
  </li>
</ul>

<h3 class="govuk-heading-s">
  Low stock
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Standard Windows laptops – delivery may take longer than 5 working days
  </li>
</ul>
