<h2 class="govuk-heading-m">
  Device availability
</h2>

<h3 class="govuk-heading-s">
  In stock
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Google Chromebooks
  </li>
  <li>
    Standard and DfE Restricted Windows laptops – low stock, delivery may take longer than 5 working days
  </li>
</ul>

<h3 class="govuk-heading-s">
  Permanently out of stock
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Apple iPads
  </li>
  <li>
    Microsoft Windows tablets
  </li>
</ul>

<p class="govuk-body">
  <%= link_to_devices_guidance_subpage 'Read more about the devices and specifications available', 'device-specification' %>
</p>
