<h2 class="govuk-heading-m govuk-!-margin-top-6">Reset your existing devices</h2>

<p class="govuk-body">
  DfE-restricted Windows laptops and tablets, as well as Huawei routers,
  need to be reset as soon as possible.
</p>

<p class="govuk-body">
  If you ordered devices prior to 30 June 2021, you can
  <%= govuk_link_to 'view your device details and BIOS/admin passwords', assets_path -%>.
</p>

<p class="govuk-body">
  <%= govuk_link_to 'See your Huawei router password', huawei_router_password_path -%>
</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">Further guidance</h2>

<p class="govuk-body">
  Learn more about
  <%= govuk_link_to 'resetting Windows laptops and tablets.', devices_guide_to_resetting_windows_laptops_and_tablets_path -%>
</p>

<p class="govuk-body">
  Learn more about
  <%= govuk_link_to 'managing your 4G wireless routers', '/devices/managing-your-4g-wireless-routers' -%>
</p>
