    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Reset devices
    </h2>
      <p class="govuk-body">
        Huawei routers need to be reset before <span class="app-no-wrap">16 July 2021</span>.
      </p>
      <ul class="govuk-list govuk-list--spaced">
        <li><%= govuk_link_to 'How to reset wireless routers', '/devices/reset_your_wireless_router' %></li>
        <li><%= govuk_link_to 'See your Huawei router password', huawei_router_password_path %></li>
      </ul>
