<% if school.group_a_feature_flag? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      Your school has been allocated extra laptops and tablets. You’ll be able to see the number of devices available to you when we invite you to order. This will happen soon.
    </strong>
  </div>
<% end %>
