<% if school.group_a_feature_flag? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      Your school will soon be able to order more laptops. We’ll let you know when your allocation has been increased. You’ll then see the new number of devices available.
    </strong>
  </div>
<% end %>
