<div class="govuk-inset-text">
  <p class="govuk-body">
    Use the guide to tell people what’s available and collect the information you&nbsp;need:
  </p>
  <p class="govuk-body">
    <%= govuk_link_to 'Guide to collecting mobile information', guide_to_collecting_mobile_information_path %>
  </p>
</div>
