= form.govuk_fieldset legend: { text: 'About you' } do
  = form.govuk_text_field :full_name, required: true, label: { text: 'Your full name' }
  = form.govuk_email_field :email_address, required: true, label: { text: 'Your email address' }
  = form.govuk_text_field :organisation, required: true, label: { text: 'Name of the organisation you work for' }
