<%- title = t('page_titles.school_edit_chromebooks') %>
<%- content_for :title, title %>
<% content_for :before_content, govuk_link_to('Back', school_details_path, class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= title %>
    </h1>

    <%= render partial: 'shared/chromebook_information_intro' %>
    <%= render partial: 'shared/chromebook_information_form', locals: { url: school_chromebooks_path, form_object: @chromebook_information_form } %>
  </div>
</div>
