<h2 class="govuk-heading-m">Get devices early for specific circumstances</h2>
    
<p class="govuk-body">You can still <%= govuk_link_to 'request devices for disadvantaged children', responsible_body_devices_request_devices_path %> who:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>are extremely clinically vulnerable and must continue shielding on&nbsp;official&nbsp;advice</li>
  <li>cannot attend school – even though theirs is open – because they live in a different area with local coronavirus restrictions</li>
</ul>
