<h2 class="govuk-heading-m">Get devices early for specific circumstances</h2>

<p class="govuk-body">You can also <%= govuk_link_to 'request devices for disadvantaged children', responsible_body_devices_request_devices_path %> who:</p>

<%= render 'shared/devices/who_to_request_for_list' %>
