<table id="schools" class="govuk-table">
  <caption class="govuk-table__caption">
    <span class="govuk-heading-m">Schools you need to place orders for</span>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-schools-table__school-column">School</th>
      <th class="govuk-table__header">What to order</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to("#{school.name} (#{school.urn})", responsible_body_devices_school_path(school.urn)) %>
        </td>
        <td class="govuk-table__cell">
          <%= what_to_order(school.std_device_allocation.available_devices_count,
                            school.can_order_for_specific_circumstances?) %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>

<h2 class="govuk-heading-m">Help signing in to TechSource</h2>
<p class="govuk-body">You need to place orders on a website called TechSource, which is run by Computacenter.</p>

<%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: @user.email_address } %>
