<h2 class="govuk-heading-m">Some schools can place their own orders</h2>

<%
  lr_school_count = @responsible_body.schools.school_will_order_devices.can_order.count
  sc_school_count = @responsible_body.schools.school_will_order_devices.can_order_for_specific_circumstances.count
%>

<% if lr_school_count.positive? %>
  <p class="govuk-body"><%= govuk_link_to("#{lr_school_count} #{'school'.pluralize(lr_school_count)}", responsible_body_devices_schools_path) %> can order their full allocation of devices.</p>
<%- end %>

<% if sc_school_count.positive? %>
  <p class="govuk-body"><%= "#{sc_school_count} #{'school'.pluralize(sc_school_count)} can order devices for specific circumstances because their #{'request'.pluralize(sc_school_count)} #{'has'.pluralize(sc_school_count)} been approved." %></p>
<%- end %>
