<h2 class="govuk-heading-m">Some schools can place their own orders</h2>
    
<p class="govuk-body"><%= govuk_link_to @responsible_body.count_of_schools_that_can_order_now_link_text, responsible_body_devices_schools_path %>.</p>
<p class="govuk-body">They can order their full allocation of devices.</p>
