<h2 class="govuk-heading-m">Some schools can place their own orders</h2>
    
<% if @responsible_body.schools.that_will_order_devices.can_order.count.positive? %>
<p class="govuk-body"><%= govuk_link_to @responsible_body.unmanaged_schools_that_can_order_link_text, responsible_body_devices_schools_path %>.</p>
<p class="govuk-body">They can order their full allocation of devices.</p>
<%- end %>

<% if @responsible_body.schools.that_will_order_devices.can_order_for_specific_circumstances.count.positive? %>
  <p class="govuk-body"><%= @responsible_body.unmanaged_schools_that_can_order_for_specific_circumstances_text %></p>
<%- end %>
