<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.order_devices.order_devices_now') %>
    </h1>

    <p class="govuk-body">Place an order for each school.</p>
    <p class="govuk-body">Devices will arrive the next working day if you order before 4pm.</p>
  </div>
</div>
<%= render partial: 'place_order_for_schools' %>
