<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.order_devices.order_devices_now') %>
    </h1>

    <%= render partial: 'shared/techsource_unavailable_banner' %>

    <p class="govuk-body">We’re experiencing high demand at the moment, but we’re working hard to get devices delivered within 5 working days.</p>
  </div>
</div>
<%= render partial: 'place_order_for_schools' %>
