<%- title = t('page_titles.support.privileged_users.show') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%= govuk_back_link(text: 'Back', href: support_privileged_users_path) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%=
      render GovukComponent::SummaryListComponent.new(actions: false) do |component|
        component.row do |row|
          row.key(text: 'Email')
          row.value(text: @user.email_address)
        end

        component.row do |row|
          row.key(text: 'Last sign in')
          row.value(text: @user.last_signed_in_at&.to_s(:govuk_date_short) || 'Never')
        end

        component.row do |row|
          row.key(text: 'Privileges')
          row.value(text: @user.privileges.map { |p| p.to_s.humanize }.join('<br>').html_safe)
        end
      end
    %>

    <%= govuk_button_to 'Revoke all privileges', support_privileged_user_path(@user), class: 'govuk-button--warning', method: :delete %>
  </div>
</div>
