<% content_for :title, t('page_titles.about_bt_wifi') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => guidance_page_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  t('page_titles.about_bt_wifi'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_bt_wifi') %>
    </h1>

    <p class="govuk-body">
      This pilot scheme supported children and young people living in range of a BT wifi hotspot. BT created 10,000 hotspot log-ins that could be activated through name/password combinations, and schools distributed these log-ins, or vouchers, to children without a reliable internet connection.
    </p>

    <h2 class="govuk-heading-l">
      We’ve now closed the pilot
    </h2>

    <p class="govuk-body">
      Having tested the scheme with a range of users, we decided to close the pilot. This is because we found:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a lack of hotspot coverage in areas of greatest need</li>
      <li>people struggled to get a reliable connection</li>
    </ul>

    <h2 class="govuk-heading-l">
      Vouchers will work until the end of December 2020
    </h2>

    <p class="govuk-body">
      Any vouchers that have already been downloaded and distributed will still work until the end of December 2020. Also, anyone using a voucher can continue to get technical support from BT.
    </p>

    <h2 class="govuk-heading-l">
      If you haven’t yet downloaded your vouchers
    </h2>

    <p class="govuk-body">
      If you were invited to take part in the pilot and have not downloaded your vouchers yet, please contact <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a> for support.
    </p>

    <h2 class="govuk-heading-l">
      If you have questions
    </h2>

    <p class="govuk-body">
      If you have any questions about the closed pilot, email <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a> using the subject line ‘BT wifi hotspots’.
    </p>
  </div>
</div>
