<% content_for :title, t('page_titles.about_increasing_mobile_data') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_increasing_mobile_data') %>
    </h1>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for children and young people on certain mobile networks. This is so they can continue their remote education and maintain contact with social care services without the account holder incurring extra data charges.
    </p>

    <h2 class="govuk-heading-l">
      The scheme is temporarily on hold
    </h2>

    <p class="govuk-body">
      Our initial pilot ended on 30 September 2020, and we are now working with mobile network providers to prepare for the next phase.
    </p>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for children and young people on certain mobile networks. This is so they can continue their remote education and maintain contact with social care services without the account holder incurring extra data charges.
    </p>

    <p class="govuk-body">
      We’ll update anyone who might benefit from the scheme as soon as it’s up and running again.
    </p>

    <h2 class="govuk-heading-l">
      If you have questions
    </h2>

    <p class="govuk-body">
      If you have any questions, email <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a> using the subject line ‘Increasing data allowances’.
    </p>
  </div>
</div>
