<% content_for :title, t('page_titles.about_bt_wifi') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_bt_wifi') %>
    </h1>

    <p class="govuk-body-l">
      Internet access supports remote education, as well as virtual contact between children, their social workers and other services.
    </p>
    <p class="govuk-body-l">
      We know that many children don’t have reliable internet access, and we’re acting to change this.
    </p>
    <h2 class="govuk-heading-l">
      We’re giving children free access to wifi hotspots
    </h2>
    <p class="govuk-body">
      The Department for Education has teamed up with BT to give children and young people free access to BT wifi hotspots. If they live in range of a BT hotspot, their school will give them log-in details to access the network.
    </p>
    <h2 class="govuk-heading-l">
      Who can get help
    </h2>
    <%= render partial: 'eligibility' %>
    <h2 class="govuk-heading-l">
      How the scheme works
    </h2>
    <p class="govuk-body">
      At the moment, we’re trialling the scheme. We’ve asked a small number of local authorities and academy trusts to let us know who needs connectivity support and who can access a BT wifi hotspot.
    </p>
    <p class="govuk-body">
      Once we get this information, we’ll allocate a suitable number of hotspot accounts for local authorities and academy trusts to distribute to schools and families.
    </p>
    <p class="govuk-body">
      We hope to make this scheme available to more families across England in the coming months.
    </p>
    <h2 class="govuk-heading-l">
      How schools, local authorities and trusts can get involved
    </h2>
    <p class="govuk-body">
      We know this support is needed urgently, and we plan to make it available to everyone as soon as we can. We’ll be in touch when we’re ready to bring you on board.
    </p>
    <p class="govuk-body">
      In the meantime, you can prepare by:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        identifying who needs help
      </li>
      <li>
        finding out if those who need help can access a BT hotspot
      </li>
    </ul>
    <p class="govuk-body">
      You can see hotspot coverage by:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        doing a postcode check on <%= govuk_link_to 'https://www.btwifi.com/find/', 'https://www.btwifi.com/find/' %>, or
      </li>
      <li>
        checking whether BT wifi is an available network at home (this will appear as BTWi-fi when you look at available networks on your device)
      </li>
    </ul>
    <h2 class="govuk-heading-l">
      How individuals can get involved
    </h2>
    <p class="govuk-body">
      If you don’t have access to a fixed line broadband connection at home and you need help to access remote education or social care, please find out what support is currently available.
    </p>
    <p class="govuk-body">
      If you’re at school, talk to your school. If you have a social worker, talk to your social care team.
    </p>
    <h2 class="govuk-heading-l">
      There’s also support for those who can’t access hotspots
    </h2>
    <p class="govuk-body">
      Hotspot coverage varies across the country, so we’re also working with telecommunications companies to explore how to increase internet access for children and young people who rely on mobile data to connect to the internet at home.
    </p>
    <h2 class="govuk-heading-l">
      If you have questions
    </h2>
    <p class="govuk-body">
      If you have any questions, email <%= ghwt_contact_mailto %> using the subject line ‘Increasing internet access’.
    </p>
  </div>
</div>
