<% content_for :title, t('page_titles.about_bt_wifi') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_bt_wifi') %>
    </h1>

    <p class="govuk-body">
      The Department for Education has teamed up with BT to give children and young people free access to BT wifi hotspots. BT has created 10,000 hotspot log-ins that can be activated through name/password combinations. It calls these combinations ‘vouchers’.
    </p>
    <p class="govuk-body">
      Every voucher comes with content filtering, and one voucher can be used on up to three devices at once. Vouchers will work until the end of December 2020.
    </p>
    <h2 class="govuk-heading-l">
      Who can get help
    </h2>
    <%= render partial: 'shared/pilot_bt_offer_eligibility' %>
    <h2 class="govuk-heading-l">
      How the scheme works
    </h2>
    <p class="govuk-body">
      We’re rolling out the scheme in phases. We’ve allocated vouchers to certain local authorities and trusts and asked them to share these with schools and families.
    </p>
    <p class="govuk-body">
      We hope to make the scheme available to more families across England in the coming months.
    </p>
    <h2 class="govuk-heading-l">
      How schools, local authorities and trusts can get involved
    </h2>
    <p class="govuk-body">
      We know this support is needed, and we plan to make it more widely available as soon as we can. We’ll be in touch when we’re ready to bring you on board.
    </p>
    <p class="govuk-body">
      In the meantime, you can prepare by finding out if those who need help can access a BT hotspot.
    </p>

    <h3 class="govuk-heading-m">How to check hotspot coverage</h3>
    <%= render partial: 'shared/how_to_check_hotspot_coverage' %>

    <h2 class="govuk-heading-l">
      How individuals can get involved
    </h2>
    <p class="govuk-body">
      If you don’t have access to a fixed line broadband connection at home and you need help to access remote education or social care, please find out what support is currently available.
    </p>
    <p class="govuk-body">
      If you’re at school, talk to your school. If you have a social worker, talk to your social care team.
    </p>
    <h2 class="govuk-heading-l">
      There’s also support for those who can’t access hotspots
    </h2>
    <p class="govuk-body">
      Hotspot coverage varies across the country, so we’re also working with telecommunications companies to explore how to increase internet access for children and young people who rely on mobile data to connect to the internet at home.
    </p>
    <h2 class="govuk-heading-l">
      If you have questions
    </h2>
    <p class="govuk-body">
      If you have any questions, email <%= ghwt_contact_mailto %> using the subject line ‘Increasing internet access’.
    </p>
  </div>
</div>
