<% content_for :title, t('page_titles.about_increasing_mobile_data') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_increasing_mobile_data') %>
    </h1>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for mobile phone users on certain networks. This is so that children and young people can access remote education if their face-to-face education is disrupted.
    </p>

    <p class="govuk-body">Currently, this support is available to a small number of selected schools. We’ll let other schools know as we extend the scheme.</p>

    <h2 class="govuk-heading-l">Who can get help</h2>

    <p class="govuk-body">Mobile data increases are available to children and young people who:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>do not have fixed broadband at home</li>
      <li>cannot afford additional data for their devices </li>
    </ul>

    <p class="govuk-body">Children with access to a mobile phone on one of the following networks might be able to benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Three</li>
      <li>Smarty</li>
      <li>Virgin Mobile</li>
    </ul>

    <p class="govuk-body">Other providers may join the scheme at a later stage.</p>

    <p class="govuk-body">If increasing mobile data isn’t a suitable option for some children, schools can also <%= govuk_link_to 'request 4G wireless routers', how_to_request_4g_wireless_routers_path %>.</p>

    <h2 class="govuk-heading-l">When schools can request help</h2>

    <p class="govuk-body">Participating schools can request mobile data increases if they report a closure or that 15 children are self-isolating.</p>

    <p class="govuk-body">They can also make requests for children who cannot attend school face-to-face because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>they’re clinically extremely vulnerable</li>
      <li>restrictions prevent them from going to school</li>
    </ul>

    <h2 class="govuk-heading-l">How to request a mobile data increase</h2>

    <p class="govuk-body">Participating schools need to collect names, numbers and network details from households. We’ve created a <%= govuk_link_to 'guide for collecting mobile information', guide_to_collecting_mobile_information_path %> to help them do this.</p>

    <p class="govuk-body">Schools then need to <%= govuk_link_to 'submit this information through our online service', start_path %>. Each provider will vary in how quickly they process requests.</p>

    <p class="govuk-body">Once a network provider has processed a data increase, they’ll send a text message to the account holder. Schools can also check the status of requests through the online service.</p>

    <h2 class="govuk-heading-l">
      If you have questions
    </h2>

    <p class="govuk-body">
      If you have any questions, email <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a> using the subject line ‘Increasing data allowances’.
    </p>
  </div>
</div>
