<% content_for :title, t('page_titles.dfe_windows_privacy_notice') %>
<% content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { "Privacy" => privacy_path },
                  "Privacy notice for end users of Microsoft Windows devices",
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.dfe_windows_privacy_notice') %>
    </h1>

    <p class="govuk-body-m">
      This privacy policy is for the users of Microsoft Windows laptops and tablets provided as part
      of the Department for Education&rsquo;s Get help with technology programme.
    </p>

    <h2 id="who-this-information-is-for" class="govuk-heading-m">
      Who this information is for
    </h2>

    <p class="govuk-body-m">This information is for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>children, young people and care leavers</li>
      <li>parents and carers</li>
    </ul>

    <h2 id="how-we-use-your-personal-information" class="govuk-heading-m">
      How we use your personal information
    </h2>

    <p class="govuk-body-m">
      The Get help with technology programme is run by the Department for Education (DfE).
      This privacy notice explains how it will use your personal information.
    </p>

    <p class="govuk-body-m">As part of the Get help with technology programme we need to be able to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>keep children safe whilst they are online</li>
      <li>locate, disable and delete data from the laptop that is on loan, if it&rsquo;s lost</li>
    </ul>

    <p class="govuk-body-m">
      For devices provided before October 2021, the DfE has installed mobile device
      management software. The mobile device management solution collects some personal
      information when it is implemented on the device.
    </p>

    <p class="govuk-body-m">
      Devices provided after October 2021 are delivered without any DfE-managed software installed.
    </p>

    <h1 class="govuk-heading-l">
      About mobile device management on devices delivered before October 2021
    </h1>

    <p class="govuk-body-m">
      The DfE is the data controller for the personal information collected when using mobile
      device management on a laptop or tablet provided through the Get help with technology
      programme.
    </p>

    <p class="govuk-body-m">The personal information collected will be:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a device number for the laptop or tablet loaned or given to you</li>
      <li>your Internet Protocol (IP) address, which is a number linked to a device connected to a computer network</li>
      <li>addresses of websites visited when using the laptop or tablet</li>
    </ul>

    <p class="govuk-body-m">
      For these purposes, the personal information above is securely shared between the DfE
      and the mobile device management software providers (including their contracted
      partners), under agreements with the DfE.
    </p>

    <p class="govuk-body-m">
      Your name is not shared with the DfE or mobile device management software providers
      (including their contracted partners).
    </p>

    <h2 class="govuk-heading-m">
      When we can use your personal information
    </h2>

    <p class="govuk-body-m">
      To use your personal information we need to meet one (or more) conditions in the data
      protection legislation. For this service we can use your information as part of our legitimate
      interests to provide a safe and secure platform, including disabling laptops that may have
      been stolen.
    </p>

    <h2 id="how-long-we-hold-personal-information" class="govuk-heading-m">
      How long we hold personal information
    </h2>

    <p class="govuk-body-m">
      Personal information is held by the DfE and the protective software providers (including
      their contracted partners) for up to 2 years.
    </p>

    <h2 id="who-we-share-your-personal-information-with" class="govuk-heading-m">
      Who we share your personal information with
    </h2>

    <p class="govuk-body-m">
      We only share your personal information with the protective software providers (and their
      contracted partners) under our agreement for the reasons described above, unless there
      is a legal requirement for us to share it.
    </p>

    <h2 id="your-individual-rights" class="govuk-heading-m">
      Your individual rights
    </h2>

    <p class="govuk-body-m">
      Under the Data Protection Act 2018, you&rsquo;re entitled to ask if we hold information relating to
      you and ask for a copy, by making a &lsquo;subject access request&rsquo;.
    </p>

    <p class="govuk-body-m">
      For further information and how to request your data, use the &lsquo;contact form&rsquo; under the
      &lsquo;How to find out what personal information we hold about you&rsquo; section in the
      <%= govuk_link_to 'Personal Information Charter', 'https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter#how-to-find-out-what-personal-information-we-hold-about-you' %>.
    </p>

    <p class="govuk-body-m">
      You can read further information about your data protection rights at the
      <%= govuk_link_to 'Information Commissioner&rsquo;s Office'.html_safe, 'https://ico.org.uk/' %>.
    </p>
  </div>
</div>
