%h1.govuk-heading-xl
  Improving children’s internet access

%p.govuk-body-l
  We know internet access supports remote learning, as well as virtual meetings between children and their social workers. We also know some children don’t have reliable internet access.

%p.govuk-body
  The Department for Education has teamed up with BT to give young people free access to BT wifi hotspots. BT will create a set of profiles that young people can activate through name/password combinations.

%p.govuk-body
  By increasing internet access in this way, children and young people can still learn at home or meet their social workers virtually without running up data charges.

%h2.govuk-heading-l
  Who’s eligible for free wifi

%p.govuk-body
  Free wifi is available to children from early years up to 16, and care leavers up to 25 if they:

%ul.govuk-list.govuk-list--bullet
  %li
    don’t have access to a #{link_to 'fixed broadband connection', 'https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/broadband-speeds/broadband-basics', class: 'govuk-link'}
  %li
    cannot afford the additional data needed to access educational resources or social care services

%h2.govuk-heading-l
  How young people can get profile details

%p.govuk-body
  The Department for Education has allocated a number of profiles to local authorities based on school census data.

%p.govuk-body
  Once local authorities confirm they want these, they’ll receive profile details which they can pass on to schools to distribute.

%p.govuk-body
  Schools should only distribute the profiles to eligible young people who have access to BT hotspots.

%p.govuk-body
  If local authorities think their initial allocation isn’t sufficient, they can request more.

%h2.govuk-heading-l
  There’s technical support

%p.govuk-body
  BT are offering support to young people using the hotspots.

%h2.govuk-heading-l
  For young people who can’t connect to BT hotspots

%p.govuk-body
  The Department for Education is still considering how to support young people who can’t connect to a BT hotspot. One possible solution is increasing data allowances on young people’s mobile devices so they can access the internet without incurring data charges. We’ll let you know more about this when we get more information.
