<% content_for :title, t('page_titles.pages.how_request_4g_routers.title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.pages.how_request_4g_routers.title') %>
    </h1>

    <h2 class="govuk-heading-l">
      Who can get help
    </h2>

    <p class="govuk-body">
      4G wireless routers are available to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>disadvantaged children in years 3 to 11</li>
      <li>clinically extremely vulnerable children in any year group</li>
    </ul>

    <h2 class="govuk-heading-l">
      How to get help
    </h2>

    <p class="govuk-body">
      Please send a request for 4G wireless routers to <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a>
    </p>

    <p class="govuk-body">
      If you’re a local authority or academy trust, you need to tell us:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your unique reference number – for a local authority, this will be your three-digit local authority number. For an academy trust, this will be your Companies House number</li>
      <li>the name of the school you’re making a request for and the number of routers needed. If you’re requesting additional routers for more than one school, you’ll need to provide the number of children needing an internet connection for each school</li>
      <li>how many of the routers you’re requesting are for years 10 and 11, as we’ll prioritise them if stocks get low</li>
    </ul>

    <p class="govuk-inset-text">
      Local authorities and academy trusts that received 4G wireless routers from DfE in the summer are expected to reallocate unused routers to children in need before ordering new ones. Your key contact can log in to the <%= govuk_link_to 'support portal', 'https://computacenterprod.service-now.com/dfe' %> to check router use.
    </p>

    <p class="govuk-body">
      If you’re a school or college, you need to tell us:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your unique reference number (URN), this is normally 6 digits. If you’re a further education college, this will be your 8-digit UKPRN. If you don’t know your URN or UKPRN, you can find these on the Get Information about Schools site</li>
      <li>the name of your school</li>
      <li>the number of children needing a router</li>
    </ul>

    <p class="govuk-body">
      All organisations need to provide evidence of:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you’ve identified disadvantage, such as the number of children in receipt of free school meals or pupil premium</li>
      <li>your understanding of children, young people and families’ access to internet connectivity</li>
      <li>disadvantaged pupils joining the school since the most recent Schools Census</li>
    </ul>

    <p class="govuk-body">
      Evidence can be surveys, calls home, awareness of families, demographic data, or questions asked to parents.
    </p>

    <p class="govuk-body">
      Please don’t send us any personal information, like names of children, or dates of birth.
    </p>

    <h2 class="govuk-heading-l">
      Availability may change
    </h2>

    <p class="govuk-body">
      We have a limited number of routers available and may not be able to give you the number you’ve requested.
    </p>
  </div>
</div>
