<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => guidance_page_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      Schools, trusts and local authorities can now help children get online using 4G routers provided by the Department for Education.
    </p>

    <h2 class="govuk-heading-l">
      How to order 4G wireless routers
    </h2>

    <p class="govuk-body">
      Schools in England can request more 4G wireless routers for disadvantaged or vulnerable children if each of the following applies:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        your school or local area is facing disruption to education because of local restrictions
      </li>
      <li>
        the disadvantaged or vulnerable children do not have access to the internet at home
      </li>
      <li>
        your school has been invited to order devices
      </li>
    </ul>

    <p class="govuk-body">
      <%= govuk_link_to 'More about ordering 4G wireless routers', how_to_request_4g_wireless_routers_path %>
    </p>

    <h2 class="govuk-heading-l">
      Other support with internet access
    </h2>

    <p class="govuk-body">
      Earlier this year, we launched two pilot schemes earlier this year to support remote education. Both were designed to help children and young people who don’t have a reliable internet connection.
    </p>

    <h2 class="govuk-heading-l">
      Increasing data allowances on mobile devices
    </h2>

    <p class="govuk-body">
      Under this scheme, mobile network providers temporarily increased data allowances for customers on certain networks. The initial pilot has now come to an end and we’re working with mobile companies to prepare for the next phase.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to 'More about increasing data allowances on children’s mobile devices', about_increasing_mobile_data_path %>
    </p>

    <h2 class="govuk-heading-l">
      Offering free access to BT wifi hotspots
    </h2>

    <p class="govuk-body">
      BT created 10,000 hotspot log-ins that could be activated through name/password combinations. If children and young people lived in range of a BT hotspot, their school offered them log-in details for free.
    </p>

    <p class="govuk-body">
      When we tested this scheme, we found the majority of users couldn’t get a reliable BT wifi connection. As such, we decided to close the pilot.
    </p>

    <p class="govuk-body">
      Any vouchers already in use will continue to work until the end of December 2020.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to 'More about BT wifi hotspots', about_bt_wifi_path %>
    </p>
  </div>
</div>
