<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('service_name') %>
    </h1>

    <p class="govuk-body">Internet access supports remote education, as well as virtual contact between children, their social workers and other services.</p>

    <p class="govuk-body">We know that many children don’t have reliable internet access, and we’re acting to change this.</p>

    <h2 class="govuk-heading-l" id="were-giving-children-free-access-to-wifi-hotspots">We’re giving children free access to wifi hotspots</h2>

    <p class="govuk-body">The Department for Education is running a pilot scheme that gives children and young people free access to BT wifi hotspots. If they live in range of a BT hotspot, their school will give them log-in details to access the network.</p>

    <p class="govuk-body">
      <%= govuk_link_to 'More about free access to BT wifi hotspots', about_bt_wifi_path %>
    </p>

    <h2 class="govuk-heading-l" id="were-increasing-data-allowances-on-childrens-mobile-devices">We’re increasing data allowances on mobile devices</h2>

    <p class="govuk-body">We’re also running a pilot scheme to temporarily increase data allowances on certain mobile devices. This is so disadvantaged children and young people can continue their remote education and maintain contact with social care services without incurring extra data charges.</p>

    <p class="govuk-body">
      <%= govuk_link_to 'More about increasing data allowances on children’s mobile devices', about_increasing_mobile_data_path %>
    </p>

    <h2 class="govuk-heading-l" id="if-you-have-questions">If you have questions</h2>

    <p class="govuk-body">
      If you have any questions, email <%= ghwt_contact_mailto %> using the subject line ‘Increasing internet access’.
    </p>
  </div>
</div>
