<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.request_a_change') %>
    </h1>

    <p class="govuk-body">
      Email <%= ghwt_contact_mailto(subject: 'Request a change') %> with details of what you want to change. We’ll let you know once we’ve updated things for you.
    </p>
  </div>
</div>
