<% content_for :title, t('page_titles.suggested_email_to_schools') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">A suggested email for you to send to&nbsp;schools</h1>

    <p class="govuk-body">Copy the text below, and replace the sections marked in yellow with:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your local authority or trust email address</li>
      <li>a deadline for schools to get back to you by</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-email-template">
      <p class="govuk-body app-email-template__subject">
        <strong>Email subject:</strong><br />
        Help us increase children’s internet&nbsp;access
      </p>
      <h2 class="govuk-heading-l">
        Help us increase children’s internet&nbsp;access
      </h2>
      <p class="govuk-body">
        We know internet access supports remote education, as well as virtual contact between children, their social workers and other services. We also know some children don’t have reliable internet access.
      </p>
      <p class="govuk-body">
        The Department for Education has teamed up with BT to give young people free access to BT wifi hotspots. BT will create a set of hotspot log-ins that young people can activate through name/password combinations.
      </p>
      <p class="govuk-body">
        By increasing internet access in this way, children and young people can still learn at home or keep in touch with their social workers virtually without running up data charges.
      </p>
      <h3 class="govuk-heading-m">
        Who can get help
      </h3>
      <%= render partial: 'eligibility' %>
      <h3 class="govuk-heading-m">
        We need your help
      </h3>
      <p class="govuk-body">
        We need your help to get the right support to the right people. Here’s what we’d like you to do:
      </p>
      <h4 class="govuk-heading-s">
        Step one
      </h4>
      <p class="govuk-body">
        Using the criteria above, find out how many young people in your school need increased internet access.
      </p>
      <h4 class="govuk-heading-s">
        Step two
      </h4>
      <p class="govuk-body">
        Of these children, find out how many could connect to a BT hotspot. This will depend on where they live.
      </p>
      <p class="govuk-body">
        They can see coverage in their area by:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          doing a postcode check on <%= govuk_link_to 'https://www.btwifi.com/find/', 'https://www.btwifi.com/find/' %>, or
        </li>
        <li>
          checking whether BT wifi is an available network when they’re at home (this will appear as BTWi-fi)
        </li>
      </ul>
      <h4 class="govuk-heading-s">
        Step three
      </h4>
      <p class="govuk-body">
        Email us at <mark>[add email address for LA/Trust]</mark> to let us know:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          how many young people in your school need increased internet access
        </li>
        <li>
          how many of these children could connect to a BT hotspot
        </li>
      </ul>
      <p class="govuk-body">
        <strong>Please get back to us by <mark>[add deadline]</mark>.</strong>
      </p>
      <p class="govuk-body">
        Once we have this information, we’ll send BT hotspot log-in details to you by email.
      </p>
      <h3 class="govuk-heading-m">
        For young people who can’t connect to BT hotspots
      </h3>
      <p class="govuk-body">
        We’re aware that some young people won’t have BT hotspot coverage, or might have coverage but still have connectivity issues.
      </p>
      <p class="govuk-body">
        The Department for Education is exploring plans to increase data allowances on these young people’s mobile devices so they can still access the internet without incurring data charges. We’ll let you know more about this when we get more information.
      </p>
    </div>
  </div>
</div>
