# Configuration options in this file can be over-ridden by enviroment-specific
# YAML files in the setting sub-folder.
#
# An example of how to override a setting in this file with an environment variable:
#
#   GHWT__GOVUK_NOTIFY__API_KEY=abcd1234
#
# See the file initializers/config.rb for more info on how this is configured.

active_job:
  default_wait: 2

computacenter:
  notify_email_address: departmentforeducation@computacenter.com
  techsource_url: https://techsource.computacenter.com/en/
  outgoing_api:
    endpoint:
    username:
    password:
  service_now_user_import_api:
    endpoint:
    username:
    password:

cookie_consent:
  expiry_time_months: 6

google:
  analytics:
    tracking_id:

govuk_notify:
  # API key for the GOV.UK Notify service, used for sending emails
  api_key:
  service_id: 71eea423-f9c5-4b7f-aac9-c88a4ca4dea2

  templates:
    # ID of the template in GOV.UK Notify used for mailing sign-in tokens
    sign_in_token_mail: '89b4abbb-0f01-4546-bf30-f88db5e0ae3c'
    extra_mobile_data_requests:
      mno_in_scheme_sms: 'a3610e88-4852-4acc-b22c-767899d2d4c7'
      mno_not_in_scheme_sms: '401aed7e-83ac-4e90-abac-3e2f9bc45a95'
    devices:
      invite_responsible_body_user: '42e5cd7a-deaa-4234-bdea-db63b7c4ad90'
      invite_existing_user_to_responsible_body: 'a8fe1f78-85b3-43e8-87b7-77e64fe56fc1'
      nominate_contacts: 'ef964a6f-d984-4f35-a074-6f3cb79bfec7'
      school_nominated_contact: '61eb33fc-87a0-488c-8121-354dd67093ef'
      can_order_devices: '9df2c08a-c457-4b13-9270-c5a20687d168'
      can_order_devices_in_virtual_cap: 'ab40ae48-6086-4fd7-b391-b29883572d86'
      can_order_devices_in_fe_college: 'a33a1ef1-2de2-44d4-90c4-1627f1d34e0e'
      can_order_routers: '549356d2-cce3-40ad-b76e-73217f580888'
      can_order_routers_in_virtual_cap: '24946e7d-2dfc-4523-b3a9-29b6a73900b3'
      can_order_routers_in_fe_college: '89dfe926-ca10-476b-b94e-8ae35eddff2a'
      user_added_to_additional_school: 'f3ec0c69-17f8-424d-9c33-f17438355c2c'
      can_order_but_action_needed: '9096f09c-0b36-486c-9395-a6626198fd86'
      user_added_to_additional_school: 'f3ec0c69-17f8-424d-9c33-f17438355c2c'
      nudge_rb_to_add_school_contact: '867df323-b377-4906-8386-79db71e9c428'
      nudge_user_to_read_privacy_policy: '0ae8dc73-121b-4d24-8346-a80bbbcc5cea'
      notify_support_school_can_order_but_no_one_contacted: 'b673e290-47d3-4744-84fb-a1be7002d201'
    computacenter:
      device_cap_change: '6e00f2bf-d373-436d-a2c0-2910f20ef521'
      comms_cap_change: '01f1b2a3-a216-44cc-a567-704bfd0a3c56'
      school_can_order: '90df56c1-997b-4a73-ba97-4220328a1917'
    mno:
      notify_new_requests: '934c7ca4-3782-4e8a-b2d8-dd6f6d128371'

# Hostname used for generating URLs in emails
hostname_for_urls: http://localhost:3000

sentry:
  dsn:

service_name_suffix:

# Sign-in tokens will expire after this many seconds
sign_in_token_ttl_seconds: 1800

# how long CDNs and browsers should cache static assets for in production, in seconds.
static_file_cache_ttl:

# Configure rack-throttle
throttling:
  # Limits are all number of requests per second
  default_limit: 4
  limits:
    delete: 4
    get: 4
    patch: 4
    post: 4
    put: 4
    /token:
      get: 4
    /sign_in_tokens:
      get: 4

logstash:
  host: # Fill in with logstash host, leave blank to disable
  port: # Fill in with logstash port, leave blank to disable

support:
  performance_data_access_token: # bearer token for support performance data

zendesk:
  url: 'https://get-help-with-tech-education.zendesk.com/api/v2'
  username:  # Zendesk user account details
  token: # API Token generated from zendesk
