<%- content_for :before_content, govuk_back_link(text: 'Back', href: responsible_body_devices_who_will_order_edit_path) %>

<%- title = t(@responsible_body.default_who_will_order_devices_for_schools.to_sym, scope: %i[page_titles who_will_order_show]) %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%- if @responsible_body.default_who_will_order_devices_for_schools == 'school' %>
      <p class="govuk-body">If a school or college cannot order its own devices, you can change this setting on an individual basis.</p>

      <h2 class="govuk-heading-m">What you need to do now</h2>

      <p class="govuk-body">We need you to nominate a contact for each school and college.</p>

      <p class="govuk-body">They can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage who can place orders</li>
        <li>order devices</li>
      </ul>

      <p class="govuk-body">If a school or college does not respond, we’ll ask you to chase them or give us different contact details.</p>
    <%- else %>
      <%- content_for :title, t(:responsible_body, scope: %i[page_titles who_will_order_show]) %>
      <p class="govuk-body">If a school or college needs to order its own devices, you can change this setting on an individual basis.</p>

      <h2 class="govuk-heading-m">What you need to do now</h2>

      <p class="govuk-body">For each school or college you’ll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find out if they want Chromebooks</li>
        <li>give details of the school or college domain and recovery email address needed to configure them</li>
      </ul>
    <%- end %>

    <div class="govuk-!-margin-top-6">
      <%= govuk_button_link_to 'See your schools and colleges', responsible_body_devices_schools_path %>
    </div>
  </div>
</div>
