<%-
  scope = 'page_titles.donated_devices.school.interest.disclaimer'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: address_donated_devices_school_path(@school)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= render partial: 'shared/donated_devices_disclaimer',
      locals: { i18n_scope: scope,
                privacy_notice_link: address_donated_devices_school_path(@school) } %>

    <p class="govuk-body">
      <%= govuk_button_link_to 'Continue', check_answers_donated_devices_school_path(@school) %>
    </p>
  </div>
</div>
