<%- title = t('page_titles.school.donated_devices.interest.queue.title') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: @current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>


    <p class="govuk-body">We do not know how many devices will be donated. Opting in to this offer will put you in a queue.</p>
    <p class="govuk-body">Newly donated devices will be distributed to opted-in schools and colleges at the top of the queue.</p>
    <p class="govuk-body">There’s no guarantee you will get any devices.</p>
  

    <h2 class="govuk-heading-m">You do not need to place an order</h2>

    <p class="govuk-body">When it’s your turn, your devices will be automatically delivered to your school. Computacenter will email you if you’re going to receive devices.</p>
    <p class="govuk-body">Donated devices are in addition to your allocation.</p>
  
    <p class="govuk-body">
      <%= govuk_button_link_to 'Continue', interest_confirmation_donated_devices_school_path(@school) %>
    </p>
  </div>
</div>