<div class="user govuk-!-margin-top-7">
  <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><%= user.full_name %></h3>
  <%= render SchoolUserSummaryListComponent.new(school: @school, user: user) %>
</div>
