<%- title = t('page_titles.view_users') -%>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: impersonated_or_current_user %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <p class="govuk-body">Everyone with access can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see who else has an account</li>
    </ul>

    <p class="govuk-body govuk-!-margin-top-6">You can also choose to let up to 3 users:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>
        use the Get help with Technology service to
        <%= govuk_link_to 'report faults', support_ticket_path %>
        and
        <%= govuk_link_to 'view passwords needed to replace DfE settings', assets_path -%>.
      </li>
    </ul>

    <%- unless @users.empty? %>
      <div id="user-list">
        <h2 class="govuk-heading-l">Users</h2>
        <%= render partial: 'user', collection: @users %>
      </div>
    <%- end %>
  </div>
</div>
