<%- title = t('page_titles.school_users') -%>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: impersonated_or_current_user %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <p class="govuk-body">Everyone with access can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see who else has an account</li>
      <li>add or edit existing accounts</li>
    </ul>

    <%= govuk_button_link_to 'Invite a new user', new_school_user_path %>
    <%- unless @users.empty? %>
      <div id="user-list">
        <h2 class="govuk-heading-l">Users</h2>
        <%= render partial: 'user', collection: @users %>
      </div>
    <%- end %>
  </div>
</div>
