<%-
  scope = 'page_titles.donated_devices.responsible_body.interest.device_types'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([
                   { "Home" => responsible_body_home_path },
                   title
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @request, url: responsible_body_donated_devices_what_devices_do_you_want_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_check_boxes :device_types,
                                         @request.available_device_types,
                                         :id,
                                         :name,
                                         legend: {size: 'xl', text: title },
                                         hint: {size: 'm', text: t('hint', scope: scope) } %>
      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
