<%-
  scope = 'page_titles.donated_devices.responsible_body.interest.disclaimer'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<%- content_for :before_content, govuk_link_to('Back', responsible_body_donated_devices_address_path, class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= render partial: 'shared/donated_devices_disclaimer', locals: { i18n_scope: scope } %>

    <p class="govuk-body">
      <%= govuk_button_link_to 'Continue', responsible_body_donated_devices_check_answers_path %>
    </p>
  </div>
</div>
