<%-
  scope = 'page_titles.donated_devices.responsible_body.interest.how_many_devices'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: responsible_body_donated_devices_what_devices_do_you_want_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @request, url: responsible_body_donated_devices_how_many_devices_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :units,
                                           @request.device_amount_options,
                                           :value,
                                           :label,
                                           legend: {size: 'xl', text: title } %>
      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
