<h3 class="govuk-heading-s">Ordering for care leavers in education</h3>
<p class="govuk-body">
  After you order, we’ll ask you for each educational setting’s email domain for
  Google Workspace for Education Fundamentals (formerly G Suite for
  Education), and a recovery email address. Each setting’s IT team should be
  able to give you this information.
</p>

<h3 class="govuk-heading-s">Ordering for care leavers who are not in education</h3>
<p class="govuk-body">
  If we cannot link a Chromebook to a Google Workspace for Education
  domain, it will not be secure. Your LA can choose to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>order a Windows laptop instead</li>
  <li><%= link_to_devices_guidance_subpage 'set up and manage a Google domain', 'google-domain-for-care-leavers-and-children-with-social-worker' %></li>
  <li>distribute the device unsecured &ndash; <%= link_to_devices_guidance_subpage 'read our guidance on safeguarding before making this choice', 'safeguarding-for-device-users' %></li>
</ul>
