<% if @school.social_care_leaver? %>
  <%- title = t('page_titles.scl.laptop_types') %>
<% else %>
  <%- title = t('page_titles.iss.laptop_types') %>
<% end %>

<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: [ { t('page_titles.iss.order_devices') => order_devices_school_path(@school)}, title], school: @school, user: impersonated_or_current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <% if @school.independent_special_school? %>
      <p class="govuk-body">
        We recommend checking with your IT team, schools, families or pupils as soon as possible to find out which device type and IT settings would be most suitable.
      </p>
    <% end %>
    <p class="govuk-body">
      Depending on availability, you can choose from:
    </p>
    <h2 class="govuk-heading-s">
      Standard Windows laptops
    </h2>
    <p class="govuk-body">
      You’ll be responsible for arranging and maintaining safeguarding measures,
      like content filtering.
    </p>
    <h2 class="govuk-heading-s">
      DfE Restricted Windows laptops
    </h2>
    <p class="govuk-body">
      These have temporary safeguarding settings installed — content filtering and
      mobile device management software — which you’ll need to replace before
      they expire on 30 September 2021. You’ll need to reset these devices
      before you can apply new settings, or download some types of software.
    </p>
    <h2 class="govuk-heading-s">
      Google Chromebooks
    </h2>
    <% if @school.social_care_leaver? %>
      <p class="govuk-body">
        You’ll get an email after you order asking if you want us to supply Chrome Education Upgrades (Chromebook licenses). If a care leaver is in education, their educational setting will need a license to enrol the device in their Google Admin console (if they have one). This gives them options to manage and secure the device.
      </p>
      <p class="govuk-body">
        To request licenses, you’ll need to provide us with the relevant educational setting’s email domain for Google Workspace for Education Fundamentals (formerly <span class="app-no-wrap">G Suite for Education</span>), and a recovery email address.
      </p>
      <p class="govuk-body">
        If you’re ordering for a care leaver who is not in education, and you cannot provide Google Workspace for Education details for them, your Chromebooks will be delivered with factory settings. <a class="govuk-link" href="/devices/device-specification#google-chromebooks-in-stock">Find out about other options for securing these devices</a>.
      </p>
    <% else %>
      <p class="govuk-body">
        You’ll get an email after you order asking if you want us to supply Chrome Education Upgrades (Chromebook licenses). An educational setting will need a license to enrol the device in their Google Admin console. This gives them options to manage and secure the device.
        To request licenses, you’ll need to provide us with the relevant educational setting’s email domain for Google Workspace for Education Fundementals (formerly <span class="app-no-wrap">G Suite for Education</span>), and a recovery email address.
      </p>
    <% end %>
    <p class="govuk-body">
      <%= govuk_link_to 'See detailed laptop specifications and stock availability', devices_guidance_subpage_path(subpage_slug: 'device-specification') %>
    </p>
  </div>
</div>
