<h2 class="govuk-heading-m govuk-!-margin-top-6">
  4G wireless routers
</h2>
<p class="govuk-body">
  <span class="app-no-wrap">4G wireless routers</span> are available until <span class="app-no-wrap">31 July.</span>
</p>
<p class="govuk-body">
  <%= govuk_link_to 'Contact us to request 4G wireless routers', support_ticket_path %>
</p>
