<h2 class="govuk-heading-m  govuk-!-margin-top-6">Order history</h2>

<ul class="govuk-list govuk-list--spaced">
  <% if @current_user.orders_devices? %>
    <li><%= govuk_link_to 'See your order history on TechSource', techsource_start_path -%></li>
  <% end %>

  <% if @has_ordered_coms_devices %>
    <li><%= govuk_link_to 'View your requests for extra mobile data', extra_data_requests_internet_mobile_school_path(@school) -%></li>
  <% end %>
</ul>
