<h1 class="govuk-heading-xl">Forbidden</h1>

<%= govuk_warning text: 'You’re not allowed to do that.' %>

<p class="govuk-body">You may have mistyped the address or the permissions for this page may have changed.</p>
<p class="govuk-body">If you think you should have access to this page, contact support.</p>
<p class="govuk-body">If you are the application owner check the logs for more information.</p>
