<% content_for :title, 'Page not found' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page not found</h1>
    <p class="govuk-body">
      If you typed the web address, check it is correct.
    </p>
    <p class="govuk-body">
      If you pasted the web address, check you copied the entire address.
    </p>
    <p class="govuk-body">
      Go to the <%= govuk_link_to('Get help with technology homepage', root_path ) %> to see guidance or sign in.
    </p>
  </div>
</div>
