<% content_for :title, 'Too many requests' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You've made too many requests</h1>
    <p class="govuk-body">
      Our system is overloaded right now. Please wait a few seconds and try again.
    </p>
  </div>
</div>
