<% content_for :title, 'Too many requests' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Too many requests</h1>
    <p class="govuk-body">
      Please try again in a few seconds.
    </p>
  </div>
</div>
