<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= link_to "Download", assets_download_path(format: 'csv', uuid: @download.uuid), class: 'govuk-button govuk-button--secondary' %>
    </p>
  </div>
</div>
