<h2 class="govuk-heading-l">Increase data allowances</h2>

<p class="govuk-body">Give us mobile numbers and network details and we’ll request extra data for these devices. How much data someone gets will depend on their network.</p>

<h2 class="govuk-heading-m govuk-!-margin-bottom-4">
  <%= govuk_link_to 'Request extra data for mobile devices', responsible_body_internet_mobile_extra_data_requests_path %>
</h2>
