<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 2 } %>

    <h3 class="govuk-heading-m">
      Why do I need this information?
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <strong>Local admin password</strong> &ndash; this allows you to sign into the admin user accounts for
        laptops and tablets where you can access options to reset the device. This cannot
        be done from the &lsquo;localuser&rsquo; account on the device.
      </li>
      <li>
        <strong>BIOS password</strong> &ndash; every laptop and tablet has a system that controls the device,
        called the BIOS. To protect devices, this system has been password protected. You
        need the BIOS password so you can complete the reset process.
      </li>
    </ul>

    <p class="govuk-body">
      You should only share your passwords with trusted users who are resetting laptops and
      tablets or applying device management and content filtering settings.
    </p>

    <h3 class="govuk-heading-m">
      Get passwords
    </h3>

    <p class="govuk-body">
      To see passwords for the devices you ordered,
      <%= govuk_link_to('log in to the Get help with technology service', root_path) %>,
      and select &lsquo;View your device details&rsquo;.
    </p>

    <p class="govuk-body">
      For devices you own but did not order personally, log in to the service and select &lsquo;View
      your device details&rsquo;. In the search bar, input the serial number of each device.
    </p>

    <p class="govuk-inset-text">
      If you cannot see this option or are unable to access the page, and no one else in your
      organisation has this information, <%= govuk_link_to 'contact us', support_ticket_path %>.
    </p>

    <p class="govuk-body">
      To get local admin and BIOS password information for your devices you can either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        export a spreadsheet (in .CSV format) containing data for all devices by using the
        &lsquo;Export CSV&rsquo; button
      </li>
      <li>
        use the search filters to find information for specific devices by serial or model
        number. Use the &lsquo;show&rsquo; link next to each to reveal BIOS and Admin details and
        hardware hashes where applicable
      </li>
    </ul>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
