<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 1 } %>

    <h3 class="govuk-heading-m">
      unlock_recovery_mode
    </h3>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
