<div class="app-cookie-preferences">
  <h2 class="govuk-heading-l">Cookies that measure website use</h2>
  <p class="govuk-body">
    We use Google Analytics software to collect information about how you use ‘<% t(:service_name) %>’.
    We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
  </p>
  <p class="govuk-body">Google Analytics stores information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit on ‘<% t(:service_name) %>’</li>
    <li>how long you spend on each page</li>
    <li>how you got to the site</li>
    <li>what you click on while you’re visiting the site</li>
  </ul>
  <p class="govuk-body">We don’t allow Google to use or share our analytics data.</p>

  <%= form_for @form, url: create_cookie_preferences_path, method: :post do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_collection_radio_buttons  :cookie_consent,
                                          CookiePreferencesForm.cookie_consent_options,
                                          :value,
                                          :label,
                                          legend: {size: 'm', text: 'Do you accept Google Analytics cookies?'} %>
    <%= f.govuk_submit 'Save changes' %>
  <%- end %>
</div>
