<%- title = t('page_titles.responsible_body_users_index') -%>

<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { "Your account" => responsible_body_home_path },
                  title ,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <p class="govuk-body">Everyone with access can:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>see who else has an account</li>
      <li>add or edit existing accounts</li>
    </ul>

    <%= govuk_button_link_to 'Invite a new user', new_responsible_body_user_path %>

    <%- unless @users.empty? %>
      <div id="user-list">
        <h2 class="govuk-heading-l">Users</h2>
        <%= render partial: 'responsible_body/users/user', collection: @users %>
      </div>
    <%- end %>
  </div>
</div>
