<%- title = t('page_titles.techsource_unavailable') %>
<% content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= title %>
    </h1>

    <p class="govuk-body">The TechSource website is closed for maintenance.</p>
    <p class="govuk-body">You will be able to order devices when it reopens on <%= @available_at %>.</p>
  </div>
</div>
