%h1.govuk-heading-xl
  Check your email

%p.govuk-body
  If we've recognised the email address you entered, you should receive an email soon containing a link you can click on to sign in.

.govuk-inset-text
  %p
    If this email hasn't arrived within 5 minutes:
  %ul.govuk-list-bullet
    %li
      Check your spam/junk folder
    %li
      = link_to 'Try again', new_sign_in_token_path
