<%- content_for :title, t('page_titles.email_not_recognised') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.email_not_recognised') %>
    </h1>
    <p class="govuk-body">
      We did not recognise the email address you entered.
      You may have mistyped it, or you may not have access.
    </p>
    <p class="govuk-body">
      <%= govuk_button_link_to 'Try again', sign_in_path %>
    </p>
    <p class="govuk-body">
      If you think your email address is correct and you should have access,
      you can <%= govuk_link_to "contact our support team", support_ticket_path %>.
    </p>
    <h2 class="govuk-heading-m">
      Parents, carers, pupils and students
    </h2>
    <p class="govuk-body">Parents, carers, pupils and students do not have access to this service. You should contact your school, college or further education institution for help accessing remote education.</p>
  </div>
</div>
