<%- content_for :title, t('page_titles.email_not_recognised') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.email_not_recognised') %>
    </h1>
    <p class="govuk-body-l">
      We didn’t recognise the email address you entered.
      You may have mistyped it, or you may not have access.
    </p>
    <p class="govuk-body">
      <%= govuk_button_link_to 'Go back and try again', sign_in_path %>
    </p>
    <p class="govuk-body">
      If you think your email address is correct and you should have access,
      you can email our support team:
    </p>
    <ul class="govuk-list">
      <li>Email: <%= ghwt_contact_mailto(subject: nil) %></li>
      <li>Monday to Friday (except public holidays)</li>
      <li>We aim to respond within 5 working days, or one working day for more urgent&nbsp;queries</li>
    </ul>
  </div>
</div>
