<%- content_for :title, t('page_titles.token_not_recognised') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.token_not_recognised') %>
    </h1>
    <p class="govuk-body-l">
      Sign-in links only work once - so if you've signed in with this link before, you need to request a new one.
    </p>
    <p class="govuk-body">
      <%= govuk_button_link_to 'Request a new sign-in link', sign_in_path %>
    </p>
  </div>
</div>
