<%- content_for :before_content do %>
  <%= govuk_link_to('Back', home_school_path, class: 'govuk-back-link') %>
<% end %>
<% content_for :title, t('page_titles.school_details') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.school_details') %>
    </h1>
  </div>
</div>

<%= render School::SchoolDetailsSummaryListComponent.new(school: @school) %>
