<%- content_for :before_content do %>
  <%- school_breadcrumbs(school: @school, user: impersonated_or_current_user, items: t('page_titles.school_details')) %>
<% end %>
<% content_for :title, t('page_titles.school_details') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.school_details') %>
    </h1>
  </div>
</div>

<%= render School::SchoolDetailsSummaryListComponent.new(school: @school) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      About allocations
    </h2>

    <p class="govuk-body">
      Allocations are based on an estimate of the number of devices your school, college or <span class="app-no-wrap">further education institution</span> already has and the number of:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>pupils in years 3 to 11</li>
      <li>pupils who get free school meals</li>
      <li>students in 16 to 19 further education</li>
      <li>students who get free meals in further education</li>
    </ul>

    <p class="govuk-body">
      If the number of pupils or students unable to access face-to-face education and in need of laptops and tablets is greater than your allocation, you can <%= govuk_link_to 'request more devices', devices_allocation_and_specification_path(anchor: 'how-to-query-an-allocation') %>.
    </p>
  </div>
</div>
