<%- title = t('page_titles.request_extra_mobile_data') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(items: [
      { t('page_titles.internet_access')  => internet_school_path(@school) },
      title
    ],
    user: impersonated_or_current_user,
    school: @school) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= render partial: 'shared/internet/mno_guidance' %>
  </div>
</div>
