<% content_for :title, 'Check your answers before submitting your request' %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
    { t('landing_pages.get_support.start') => support_ticket_path },
    'Check your answers',
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your answers before submitting your request
    </h1>

    <%= render GovukComponent::SummaryListComponent.new do |component| %>
      <% component.row(classes: "Which of these best describes you".to_s.downcase.gsub(/ /, "-")) do |row|
        row.key(text: "Which of these best describes you?")
        row.value(text: SupportTicket::DescribeYourselfForm.new.selected_option_label(@support_ticket.user_type))
        row.action(href: govuk_link_to("Change", support_ticket_describe_yourself_path))
      end %>

      <% if @support_ticket.requires_school? %>
        <% component.row(classes: "Which of these best describes you".to_s.downcase.gsub(/ /, "-")) do |row|
          row.key(text: "Which school do you work for?")
          row.value(text: "#{@support_ticket.school_name} (URN: #{ @support_ticket.school_unique_id})")
          row.action(href: govuk_link_to("Change", @school_details_path))
        end %>
      <% end %>

      <% if current_user.id.nil? %>
        <% component.row(classes: "Name".to_s.downcase.gsub(/ /, "-")) do |row|
          row.key(text: "How can we contact you?")
          row.value(text: "#{ @support_ticket.full_name}<br>#{ @support_ticket.email_address}<br>#{ @support_ticket.telephone_number}".html_safe)
          row.action(href: govuk_link_to("Change", support_ticket_contact_details_path))
        end %>
      <% end %>

      <% component.row(classes: "Name".to_s.downcase.gsub(/ /, "-")) do |row|
        row.key(text: "What do you need help with?")
        row.value(text: content_tag(:ul, :class => 'govuk-list govuk-list--bullet') do
          @support_ticket.support_topics.collect do |topic|
            content_tag(:li, SupportTicket::SupportNeedsForm.new.selected_option_label(topic))
          end.join.html_safe
        end)
        row.action(href: govuk_link_to("Change", support_ticket_support_needs_path))
      end %>

      <% component.row(classes: "Name".to_s.downcase.gsub(/ /, "-")) do |row|
        row.key(text: "How can we help you?")
        row.value(text: @support_ticket.message)
        row.action(href: govuk_link_to("Change", support_ticket_support_details_path))
      end %>
    <% end %>

    <div class="govuk-form-group">
      <%= form_for @form, url: support_ticket_check_your_request_path do |f| %>
        <%= f.govuk_submit 'Submit request' %>
      <% end %>
    </div>
  </div>
</div>
