<% content_for :title, 'How can we help you?' %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Get help with technology" => guidance_page_path },
                  {t('landing_pages.get_support.start') => support_ticket_path},
                  'How can we help you?',
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_for @form, url: support_ticket_support_details_path  do |f| %>
      <%= f.govuk_error_summary "There’s a problem" %>

      <%= f.govuk_text_area :message, rows: 10,
                            label: { text: 'How can we help you?', size: 'xl',  tag:'h1'},
                            hint: { text: "Give as much detail as possible", size: 'l'} %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
