<% content_for :title,  'Thank you for completing this form' %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ 'Home' => guidance_page_path },
                  {t('landing_pages.get_support.start') => support_ticket_path},
                  'Thank you for completing this form',
                 ]) %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Thank you for completing this form
    </h1>
    <p class="govuk-body">Our support team has received your request. If you do not receive an email from us within that time, please check your spam or junk folder.</p>

    <p class="govuk-body">We aim to respond within 4 working days.</p>

    <!-- @TODO TRACK LINK ? -->
    <p class="govuk-body">Access further resources on
      <a href="https://get-help-with-tech.education.gov.uk/" rel="noreferrer noopener" target="_blank">Get help with technology</a>
    </p>
  </div>
</div>
