<% content_for :title, t('page_titles.support_devices') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.support_devices') %>
</h1>

<%= govuk_button_link_to('Import Key Contacts', new_support_devices_key_contact_path) %>
