<% content_for :title, t('page_titles.service_performance') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.service_performance') %>
</h1>

<%= render partial: 'sign_ins' %>

<%= render partial: 'bt_hotspots' %>

<%= render partial: 'mobile_data_requests' %>
