<div class="govuk-accordion" data-module="govuk-accordion" id="debug">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="debug-heading-1">
          Session
        </span>
      </h2>
    </div>
    <div aria-labelledby="debug-heading-1" class="govuk-accordion__section-content" id="debug-content-1">
      <dl>
        <% session.each do |key, value| %>
          <dt>
            <%= key.to_s %>
          </dt>
          <dd>
            <%= value.inspect %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <% if @debug_info.present? %>
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="debug-heading-2">
            Debug info
          </span>
        </h2>
      </div>
      <div aria-labelledby="debug-heading-1" class="govuk-accordion__section-content" id="debug-content-2">
        <dl>
          <% @debug_info.each do |key, value| %>
            <dt>
              <%= key.to_s %>
            </dt>
            <dd>
              <%= value.inspect %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
</div>
